@use './mixins' as *;

/* ------- reset ------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------- 共通 ------- */
img {
  display: block;
  max-width: 100%;
}

body {
  background: var(--color-background);
  font-family: var(--font-primary);
}

html {
  font-size: 16px;
}

main {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
header,
p,
a,
li,
span {
  color: var(--color-text);
  text-decoration: none;
}

ul,
ol {
  list-style-type: '';
}

/* ------- layout ------- */
main {
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(auto, 1280px) minmax(2rem, 1fr);

  @include for-desktop {
    grid-template-columns: minmax(2rem, 1fr) minmax(auto, 1080px) minmax(2rem, 1fr);
  }

  @include for-tablet {
    grid-template-columns: minmax(2rem, 1fr) minmax(auto, 680px) minmax(2rem, 1fr);
  }

  @include for-mobile {
    grid-template-columns: 1.5rem 20px auto 1.5rem;
  }
}

.section-header {
  @include enFont;
  font-size: clamp(1.85rem, 1.286rem + 2.82vw, 3.4rem);
}

.section-subheader {
  @include enFont;
  font-size: clamp(1.5rem, 1.318rem + 0.91vw, 2rem);
}

.section-header,
.section-subheader {
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.viewall {
  a {
    display: flex;
    align-items: center;
    gap: 2rem;

    span {
      grid-column: 1;
      @include enFont;
      font-size: 14px;
      line-height: 1.42;
      letter-spacing: 0.07em;
      text-transform: uppercase;
    }
  }
}

.animate-slide {
  animation: animate-slide 2s cubic-bezier(0.42, 0, 0.27, 0.99) 0s 1;
}

@keyframes animate-slide {
  0%,
  100% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }

  50% {
    transform: translateX(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}

/* ------- arrow ------- */
.arrow {
  grid-column: 2;
  grid-row: 1;
  transform: rotate(-90deg);
  cursor: pointer;
}

.arrow span {
  display: block;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  margin: -4px;
  border-right: 1px solid var(--color-text);
  border-bottom: 1px solid var(--color-text);
  animation: animate-arrow 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate-arrow {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

/*  ------- svg ------- */
#icon-instagram {
  width: 20px;
  height: 20px;
}

.cls-1 {
  fill: none;
  stroke: var(--color-text);
  stroke-miterlimit: 10;
  stroke-width: 1.2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
/* ------- /.svg ------- */

/* ------- header ------- */
.site-header {
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1280px) minmax(1.5rem, 1fr);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 140px;
  background: var(--header-gradation);

  &__container {
    display: flex;
    grid-column: 2;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__logo a {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 16px;
    align-items: center;
    text-decoration: none;

    img {
      grid-row: span 2;
      width: 24px;
      height: 24px;
    }
  }

  &__position,
  &__name {
    justify-self: start;
    @include enFont;
    font-size: 10px;
    line-height: 1rem;
    letter-spacing: 0.1em;
  }

  &__gnav {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 4rem;

    ul {
      display: grid;
      grid-template-columns: repeat(6, auto);
      gap: clamp(2rem, -6.909rem + 14.55vw, 4rem);
      align-items: center;
      justify-self: flex-end;
      inset: 0;

      li {
        a {
          @include enFont;
          font-size: 14px; // リンクのサイズ
          letter-spacing: 0.15em;
          text-transform: uppercase;
        }
      }
    }
  }

  &__sns {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-self: flex-end;
    gap: 4rem;

    a {
      display: inline flex;
    }
  }

  @include for-desktop {
    display: grid;
    grid-template-columns: minmax(1.5rem, 1fr) minmax(auto, 1080px) minmax(1.5rem, 1fr);
  }
}

/* ------- hamburger menu ------- */
.site-nav-toggle {
  display: none;
  position: relative;
  z-index: 10;
  width: 32px;
  height: 32px;
  cursor: pointer;

  &__text {
    text-transform: capitalize;
    position: absolute;
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.6rem;
    @include jpFont;
    letter-spacing: 0.05em;
  }

  > span:nth-of-type(1),
  > span:nth-of-type(2),
  > span:nth-of-type(3) {
    content: '';
    height: 1.2px;
    width: 30px;
    background-color: var(--color-text);
    position: absolute;
    transition: 0.4s var(--easeing);
  }

  > span:nth-of-type(1) {
    top: calc(30% - 6px);
  }

  > span:nth-of-type(2) {
    top: 30%;
  }

  > span:nth-of-type(3) {
    top: calc(30% + 6px);
  }

  > span:nth-of-type(2),
  > span:nth-of-type(3) {
    transform-origin: left center;
  }
}

/* ------- nav ------- */
.site-nav-checkbox {
  display: none; // チェックボックスは画面上から隠します
}

@include for-mobile-and-tablet {
  .site-nav-toggle {
    display: flex; // ハンバーガーメニューを表示します
  }

  .site-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9); // 背景色と透明度を設定
    transform: translateX(100%); // 右側からスライドインするために初期位置を設定
    transition: transform 0.5s ease-in-out; // スムーズな表示切り替えのためのトランジション

    .site-nav-checkbox:checked ~ & {
      transform: translateX(0);
    }
  }

  .site-header {
    &__nav-container {
      display: flex;
      align-items: center;
      padding: 2.5rem;
    }

    &__gnav {
      grid-template-columns: 1fr; // gridを1columnに指定
      gap: 3.5rem; // 56px
      align-items: center;

      ul {
        grid-template-columns: 1fr;
        gap: 3.5rem; // 56px
        justify-self: flex-start;

        li {
          a {
            color: var(--color-white);
          }
        }
      }
    }

    // SNSアイコンのスタイリング
    &__sns {
      gap: 3.5rem;
      justify-self: flex-start;
    }
  }

  .site-nav-checkbox:checked ~ .site-nav-toggle {
    span:nth-of-type(2) {
      transform: scaleX(0); // チェックボックスがチェックされたときに非表示にする
    }

    span:nth-of-type(1),
    span:nth-of-type(3) {
      top: 30%;
      transform: rotate(24deg); // 30度回転させて斜めに表示
      transform-origin: center center; // 変形の原点を中心に設定
      background-color: var(--color-white); // 色を変更
    }

    span:nth-of-type(3) {
      transform: rotate(-24deg); // 反対方向に30度回転させて斜めに表示
      transform-origin: center center; // 変形の原点を中心に設定
    }
  }

  .cls-1 {
    stroke: var(--color-white);
  }
}

@include for-mobile {
  .site-header {
    height: 80px;
  }
  .site-nav {
    width: 50%;
    height: 100vh;
  }
}

.white-text {
  color: var(--color-white);
}

/* ------- /.hamburger menu ------- */

/* ------- footer ------- */
.site-footer {
  &__inner {
    display: flex;
    width: 100%;
    padding: 24px 0px;
    justify-content: center;
    align-items: center;
    background: var(--color-text);
    margin-top: clamp(7.5rem, 3.409rem + 20.45vw, 18.75rem);

    small {
      @include enFont;
      color: var(--color-white);
      font-size: 0.875rem; //14px
      line-height: normal;
    }
  }
}

/* ------- vertical-txt ------- */
.vertical-category {
  position: sticky;
  grid-column: 1;
  align-self: start;
  justify-self: flex-end;
  padding-right: clamp(0rem, -1.993rem + 6.66vw, 3rem);
  top: clamp(5rem, 4.091rem + 4.55vw, 7.5rem);
  width: 2rem;

  &__inner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    justify-items: center; // 子要素を水平方向の中央に揃える
  }

  &__vertical,
  &__horizontal {
    white-space: nowrap;
    width: 20px;
  }

  &__vertical {
    @include jpFont;
    font-size: 0.875rem; //14px
    letter-spacing: 0.5em;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  &__horizontal {
    @include enFont;
    font-size: 0.75rem; //12px
    text-transform: uppercase;
    letter-spacing: 0.2em;
    writing-mode: horizontal-tb;
    transform: rotate(90deg) translateX(50%);
    white-space: nowrap;
  }

  &__cross {
    position: relative;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0.5px;
      height: 14px;
      background-color: var(--color-text);
      transform: translate(-50%, -50%);
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  @include for-mobile {
    grid-column: 1;
    margin-left: 1rem;
    width: auto;
    justify-self: auto;
  }
}
/* ------- /.vertical-text ------- */

/* ------- br ------- */
// デフォルトでは`.mobile-only-br`クラスを持つ`<br>`を表示
.mobile-only-br {
  display: none;
}

// スマートフォン表示時にのみ`.mobile-only-br`クラスを持つ`<br>`を表示
@include for-mobile {
  .mobile-only-br {
    display: inline;
  }
}

/* ------- pagenation 未実装------- */
// 真ん中に設置
.pagination {
  text-align: center;
}

// 横並びにする
.nav-links .page-numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

// ページタブの共通スタイル
.nav-links a.page-numbers,
.nav-links .current,
.nav-links a.prev,
.nav-links a.next,
.nav-links .dots {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: var(--color-background);
  color: var(--color-text);
  border-radius: 50%;
  margin-right: 25px;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid var(--color-text);
}

// マウスが乗った時の、ボタンの背景の色と文字の色
.nav-links a.page-numbers:hover {
  color: var(--color-white);
  background-color: var(--color-hover);
  border-color: var(--color-hover);
  border-radius: 50%;
}

// 現在のページのタブ
.nav-links .current {
  background: var(--color-text);
  color: var(--color-white);
  padding: 0;
}

// 前への「＜」、次への「＞」
.nav-links a.prev,
.nav-links a.next {
  border: 1px solid var(--color-text);
  color: var(--color-text);
  position: relative;
}

// 縦線の共通CSS
.nav-links .next::before,
.nav-links .prev::after {
  content: '';
  display: inline-block;
  width: 0.5px;
  height: 40px;
  background-color: rgb(224, 215, 215);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

// 「次へ」の前の縦線位置
.nav-links .next::before {
  left: -15px;
}

//「前へ」の後の縦線位置
.nav-links .prev::after {
  right: -15px;
}

// 数字省略の「・・・」
.nav-links .dots {
  background: transparent;
  border: none;
}
// レスポンシブデザインのためのメディアクエリ
@media (max-width: 600px) {
  .page-numbers,
  .page-numbers.current {
    padding: 5px 10px; // パディングを小さく
  }
}

/* ------- works and tag card ------- */
.works__archive {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-self: center;
  gap: 2%;

  li {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  &-card {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center; //水平および垂直方向の中央揃え
    &:hover {
      opacity: 0.5;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover; // 画像の比率を保ちつつ、コンテナに合わせて調整
    }
  }

  @include for-tablet {
    grid-template-columns: repeat(2, auto);
  }

  @include for-mobile {
    grid-column: 2 / 4;
    grid-template-columns: 1fr;
    gap: 0.5%;
  }
}

/* ------- tag selecter ------- */
.tag-selector {
  grid-row: 2;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 1rem;

  > span {
    grid-row: 1;
    align-self: end;
    @include enFont;
    font-size: 0.875rem; //14px
    letter-spacing: 0.07em;
    text-transform: uppercase;
  }

  > hr {
    grid-row: 2;
    width: auto;
    height: 0;
    border-top: 1px solid var(--color-text-soft);
  }

  > ul {
    grid-row: 3;
    display: flex; // gridではなくflexで
    flex-wrap: wrap; // 折り返す
    gap: 0.5rem 1.5rem; // 行８px 列 24pxアイテム間の間隔

    > li {
      @include enFont;
      font-size: 0.875rem; //14px
      letter-spacing: 0.083em;

      &::before {
        content: '#';
      }
    }
  }
}

/* ------- desc ------- */
.common__desc {
  @include textFont;
  font-size: 0.75rem;
  line-height: 1.91;
  letter-spacing: 0.1em;
}

/* ------- prefers-reduced-motion ------- */
@media (prefers-reduced-motion: reduce) {
  .animated-element span {
    animation: none !important;
    transition: none !important;
  }
}

/* ------- screen reader only ------- */
.sr-only {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
