@use './mixins' as *;

/* ------- reset ------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ------- 共通 ------- */
img {
  display: block;
  max-width: 100%;
}

body {
  font-family: var(--font-primary);
  background: var(--color-background);
}

html {
  font-size: 16px;
}

main {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
a {
  color: var(--color-text);
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

video {
  outline: none;
  border: none;
}

/* ------- layout ------- */
main {
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(auto, 1280px) minmax(2rem, 1fr);
  // margin-top: 140px;

  @include for-desktop {
    grid-template-columns: minmax(2rem, 1fr) minmax(auto, 1080px) minmax(2rem, 1fr);
  }

  @include for-tablet {
    grid-template-columns: minmax(2rem, 1fr) minmax(auto, 680px) minmax(2rem, 1fr);
  }
  @include for-mobile {
    grid-template-columns: 1.5rem 20px auto 1.5rem;
    //   margin-top: 80px;
  }
}

.section-header {
  @include enFont;
  font-size: 2.5rem; // 40px
  line-height: normal;
  letter-spacing: 0.1em; //4px;
  text-transform: uppercase;

  @include for-mobile {
    font-size: 2rem; // 36px
    line-height: 1; // 24px
    letter-spacing: 0.1em; // 2.4px
  }
}

.section-subheader {
  @include enFont;
  font-size: 24px;
  line-height: 24px; /* 100% */
  letter-spacing: 2.4px;
  text-transform: uppercase;

  @include for-mobile {
    font-size: 24px;
    line-height: 1; // 24px
    letter-spacing: 0.1em; // 2.4px
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: auto;
    height: 1px; // 下線の太さ
    background: var(--color-text); // 下線の色
    z-index: -1;
    transition: all 0.8s;
  }
}

.viewall {
  a {
    // display: grid;
    display: flex;
    // grid-template-columns: repeat(2, 1fr); // 2つの子要素を横並びに
    align-items: center; //縦方向の中央揃え
    gap: 2rem; // `p` タグと `.arrow` の間隔

    //hoverした時の挙動

    p {
      grid-column: 1;
      @include enFont;
      font-size: 14px;
      line-height: 1.42;
      letter-spacing: 0.07em;
      text-transform: uppercase;
    }
  }
}
.animate-slide {
  animation: animate-slide 2s cubic-bezier(0.42, 0, 0.27, 0.99) 0s 1;
}

@keyframes animate-slide {
  0%,
  100% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }

  50% {
    transform: translateX(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}

/* ------- arrow ------- */
.arrow {
  grid-column: 2;
  grid-row: 1;
  transform: rotate(-90deg);
  cursor: pointer;
}

.arrow span {
  display: block;
  width: 8px;
  height: 8px;
  border-bottom: 1px solid var(--color-text);
  border-right: 1px solid var(--color-text);
  transform: rotate(45deg);
  margin: -4px;
  animation: animate-arrow 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate-arrow {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

/*  ------- svg ------- */
#icon-instagram {
  width: 20px;
  height: 20px;
}

.cls-1 {
  fill: none;
  stroke: var(--color-text);
  stroke-miterlimit: 10;
  stroke-width: 1.2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
/* ------- /.svg ------- */

/* ------- header ------- */
.site-header {
  width: 100%; // 幅100%
  height: 140px; // 高さ140px
  background: var(--header-gradation);
  position: fixed; // 固定
  z-index: 5;
  top: 0;
  left: 0;

  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1280px) minmax(1.5rem, 1fr);
  justify-content: center; // containerを水平方向に中央揃え
  align-items: center; // containerを垂直方向に中央揃え

  &__container {
    grid-column: 2;
    width: 100%; // コンテナの幅を親要素の幅に合わせて伸縮させる
    justify-content: space-between;
    align-items: center;
    display: flex; // .logoとnavを横に並べる
  }

  &__logo a {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 16px; // 列のgapのみ
    align-items: center;
    text-decoration: none;

    img {
      width: 24px;
      height: 24px;
      grid-row: span 2; // 2行
    }
  }

  &__position,
  &__name {
    @include enFont;
    font-size: 10px;
    line-height: 1rem;
    letter-spacing: 0.1em;
    justify-self: start; // CSS Gridのコンテキストで使用され、個別のグリッドアイテムの水平方向の配置
  }

  // ナビゲーションメニューのスタイリング
  &__gnav {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 4rem; // 64px

    ul {
      list-style: none;
      inset: 0;

      display: grid;
      grid-template-columns: repeat(4, auto);
      gap: 4rem; // 64px
      align-items: center;
      justify-self: flex-end;

      li {
        a {
          text-decoration: none;
          font-size: 14px; // リンクのサイズ
          letter-spacing: 0.15em;
          @include enFont;
          text-transform: uppercase;
          transition: var(--hover);
        }
      }
    }
  }

  // SNSアイコンのスタイリング
  &__sns {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    gap: 4rem;
    justify-self: flex-end;

    a {
      display: inline flex; // flexコンテナとして振る舞い、子要素を中央揃えに
    }
  }

  @include for-desktop {
    display: grid;
    grid-template-columns: minmax(1.5rem, 1fr) minmax(auto, 1080px) minmax(1.5rem, 1fr);
  }
}

/* ------- hamburger menu ------- */
.site-nav-toggle {
  display: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  z-index: 10;
  justify-content: center;
  align-items: center;

  &::before,
  &::after,
  span {
    content: '';
    height: 1px;
    width: 30px;
    background-color: var(--color-text);
    position: absolute;
    transition: 0.4s var(--easeing);
  }

  span {
    transform-origin: left center;
  }

  &::before {
    top: calc(50% - 8px);
  }

  &::after {
    top: calc(50% + 8px);
  }
}

.site-nav-checkbox {
  display: none; // チェックボックスは画面上から隠します
}

@include for-mobile-and-tablet {
  .site-nav-toggle {
    display: flex; // ハンバーガーメニューを表示します
  }

  .site-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9); // 背景色と透明度を設定
    transform: translateX(100%); // 右側からスライドインするために初期位置を設定
    transition: transform 0.5s ease-in-out; // スムーズな表示切り替えのためのトランジション

    .site-nav-checkbox:checked ~ & {
      transform: translateX(0);
    }
  }

  .site-header {
    &__nav-container {
      display: flex;
      align-items: center;
      padding: 2.5rem;
    }

    &__gnav {
      grid-template-columns: 1fr; // gridを1columnに指定
      gap: 3.5rem; // 56px
      align-items: center;

      ul {
        grid-template-columns: 1fr;
        gap: 3.5rem; // 56px
        justify-self: flex-start;

        li {
          a {
            color: var(--color-white);
          }
        }
      }
    }

    // SNSアイコンのスタイリング
    &__sns {
      gap: 3.5rem;
      justify-self: flex-start;
    }
  }

  .site-nav-checkbox:checked ~ .site-nav-toggle {
    span {
      transform: scaleX(0); // チェックボックスがチェックされたときに表示
    }

    &::before {
      top: 50%;
      transform: rotate(30deg);
      background-color: var(--color-white);
    }

    &::after {
      top: 50%;
      transform: rotate(-30deg);
      background-color: var(--color-white);
    }
  }
  .cls-1 {
    stroke: var(--color-white);
  }
}

@include for-mobile {
  .site-header {
    height: 80px;
  }
  .site-nav {
    width: 50%;
    height: 100vh;
  }
}
/* ------- /.hamburger menu ------- */

/* ------- footer ------- */
.site-footer {
  &__inner {
    display: block flex;
    width: 100%;
    padding: 24px 0px;
    justify-content: center;
    align-items: center;
    background: var(--color-text);
    margin-top: 128px;

    small {
      @include enFont;
      color: var(--color-white);
      font-size: 0.875rem; //14px
      line-height: normal;
    }
  }
}

/* ------- vertical-txt ------- */
.vertical-category {
  position: sticky;
  grid-column: 1;
  align-self: start;
  top: 120px;

  &__inner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    justify-items: center; // 子要素を水平方向の中央に揃える
  }

  &__vertical,
  &__horizontal {
    white-space: nowrap;
    width: 20px;
  }

  &__vertical {
    @include jpFont;
    font-size: 0.875rem; //14px
    letter-spacing: 0.5em;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  &__horizontal {
    @include enFont;
    font-size: 0.75rem; //12px
    text-transform: uppercase;
    letter-spacing: 0.2em;
    writing-mode: horizontal-tb;
    transform: rotate(90deg) translateX(50%);
    white-space: nowrap;
  }

  &__cross {
    position: relative;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0.5px;
      height: 14px;
      background-color: var(--color-text);
      transform: translate(-50%, -50%);
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  @include for-mobile {
    grid-column: 1;
    top: 80px;
    margin-left: 1rem;
  }
}
/* ------- /.vertical-text ------- */

/* ------- tag ------- */
.works__seach-tag {
  transition: all 0.3s ease; // Smooth transition for hover effect

  &::before {
    content: '#';
    margin-right: 0.2em;
    transition: all 0.3s ease; // Ensure the # symbol also transitions smoothly
  }

  &:hover {
    color: var(--color-hover);

    &::before {
      color: var(--color-hover);
      transform: scale(1.2);
    }
  }
}

/* ------- swiper ------- */
// ページネーションのサイズと色
.swiper-pagination-bullet {
  background-color: var(--color-text-soft);
}

.xo-slider .swiper-slide > img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

/* ------- br ------- */
// デフォルトでは`.mobile-only-br`クラスを持つ`<br>`を表示
.mobile-only-br {
  display: none;
}

// スマートフォン表示時にのみ`.mobile-only-br`クラスを持つ`<br>`を表示
@include for-mobile {
  .mobile-only-br {
    display: inline;
  }
}

/* ------- pagenation ------- */
// 真ん中に設置
.pagination {
  text-align: center;
}

// 横並びにする
.nav-links .page-numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

// ページタブの共通スタイル
.nav-links a.page-numbers,
.nav-links .current,
.nav-links a.prev,
.nav-links a.next,
.nav-links .dots {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: var(--color-background);
  color: var(--color-text);
  border-radius: 50%;
  margin-right: 25px;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid var(--color-text);
}

// マウスが乗った時の、ボタンの背景の色と文字の色
.nav-links a.page-numbers:hover {
  color: var(--color-white);
  background-color: var(--color-hover);
  border-color: var(--color-hover);
  border-radius: 50%;
}

// 現在のページのタブ
.nav-links .current {
  background: var(--color-text);
  color: var(--color-white);
  padding: 0;
}

// 前への「＜」、次への「＞」
.nav-links a.prev,
.nav-links a.next {
  border: 1px solid var(--color-text);
  color: var(--color-text);
  position: relative;
}

// 縦線の共通CSS
.nav-links .next::before,
.nav-links .prev::after {
  content: '';
  display: inline-block;
  width: 0.5px;
  height: 40px;
  background-color: rgb(224, 215, 215);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

// 「次へ」の前の縦線位置
.nav-links .next::before {
  left: -15px;
}

//「前へ」の後の縦線位置
.nav-links .prev::after {
  right: -15px;
}

// 数字省略の「・・・」
.nav-links .dots {
  background: transparent;
  border: none;
}
// レスポンシブデザインのためのメディアクエリ
@media (max-width: 600px) {
  .page-numbers,
  .page-numbers.current {
    padding: 5px 10px; // パディングを小さく
  }
}

/* ------- works and tag card ------- */

.works__archive {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-self: center;
  gap: 20px;

  li {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  &-card {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center; //水平および垂直方向の中央揃え

    img {
      width: 100%;
      height: 100%;
      object-fit: cover; // 画像の比率を保ちつつ、コンテナに合わせて調整
    }
  }

  @include for-tablet {
    grid-template-columns: repeat(2, auto);
  }

  @include for-mobile {
    grid-column: 2 / 4;
    grid-template-columns: 1fr;
  }
}
