@use './mixins' as *;

/* ------- reset ------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ------- 共通 ------- */
img {
  display: block;
  max-width: 100%;
}

body {
  font-family: var(--font-primary);
  background: var(--color-background);
}

html {
  font-size: 16px;
}

main {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
a {
  color: var(--color-text);
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

video {
  outline: none;
  border: none;
}

.section-header {
  @include enFont;
  font-size: 40px;
  line-height: normal;
  letter-spacing: 0.1em; //4px;
  text-transform: uppercase;
}

.viewall {
  @include enFont;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.07em;
  display: inline-block; //spanのサイズに合わせる

  span {
    position: relative; //arrow(擬似要素)を配置する基準点にするため

    &::before {
      content: '';
      position: absolute; // fontに対して絶対配置
      width: calc(100% + 14px); // spanの幅に長さを足す
      height: 1px;
      background-color: var(--color-text);
      bottom: -5px; // spanの下に配置
      left: 0;
    }

    &::after {
      content: '';
      position: absolute; // fontに対して絶対配置
      bottom: -9px;
      left: calc(100% + 13px); //微調整
      width: 8px; // 矢の長さ
      height: 8px; // 矢の幅
      border-right: 1px solid var(--color-text); // 右の矢の線
      transform: translateX(-100%) rotate(-54deg); // 位置を調整して45度に回転
    }
  }
}

#icon-instagram,
#x-twitter {
  width: 20px;
  height: 20px;
}

.cls-1 {
  fill: none;
  stroke: var(--color-text);
  stroke-miterlimit: 10;
  stroke-width: 1.2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke var(--hover-duration) var(--hover-timing-function);
}

.site-header__sns a:hover .cls-1 {
  stroke: var(--color-hover);
}

/* ------- header ------- */
.site-header {
  width: 100%; //幅100%
  height: 120px; //高さ120px
  background: var(--header-gradation);
  position: fixed; //固定
  z-index: 5;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center; //containerを水平方向に中央揃え
  align-items: center; //containerを垂直方向に中央揃え

  &__container {
    width: 100%; //コンテナの幅を親要素の幅に合わせて伸縮させる
    max-width: var(--container-width); //最大幅1080px
    display: flex; //.logoとnavを横に並べる
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0; //フレックスアイテムが縮小させない
  }

  &__logo a {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 16px; //列のgapのみ
    align-items: center;
    text-decoration: none;

    img {
      width: 24px;
      height: 24px;
      grid-row: span 2; //2行
    }
  }

  &__position,
  &__name {
    display: block; //spanはデフォルトでinlineなので、必要に応じてblockに変更
    @include enFont;
    font-size: 10px;
    line-height: 1rem;
    letter-spacing: 0.1em;
    justify-self: start; //CSS Gridのコンテキストで使用され、個別のグリッドアイテムの水平方向の配置
  }

  // ナビゲーションメニューのスタイリング
  &__gnav {
    display: flex; //navとsnsを横並びにする
    gap: 4rem; //64px
  }

  &__nav ul {
    list-style: none;
    inset: 0;
    display: flex;
    align-items: flex-start; //display-flexの際、フレックスアイテムを親コンテナ内で制御
    gap: 4rem; //64px

    li {
      a {
        text-decoration: none;
        font-size: 14px; // リンクのサイズ
        letter-spacing: 0.15em;
        @include enFont;
        text-transform: uppercase;
        transition: var(--hover);
        @include hover-effect;
      }
    }
  }

  // SNSアイコンのスタイリング
  &__sns {
    display: flex;
    align-items: center;
    gap: 4rem;

    a {
      display: inline-flex; //flexコンテナとして振る舞い、子要素を中央揃えに
    }
  }
}

// site-footer
.site-footer {
  display: flex;
  width: 100%;
  padding: 24px 0px;
  justify-content: center;
  align-items: center;
  background: var(--color-text);
  margin-top: 128px;

  small {
    @include enFont;
    color: var(--color-white);
    font-size: 0.875rem; //14px
    line-height: normal;
  }
}
