@use './mixins' as *;

.mv {
  grid-column: 2;
  position: relative;
  margin-top: 120px;

  &__inner {
    display: grid;
    place-items: center; //水平および垂直方向の中央揃え
    height: 85vh;
  }

  &__video {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
  }

  @include for-mobile {
    grid-column: 1 / -1;
    margin-top: 80px;

    &__inner {
      height: 90vh;
    }

    &__video {
      aspect-ratio: 9 / 16;
    }
  }
}

.vertical-title {
  &__container {
    grid-column: 1;
    grid-row: 2;
    align-self: start; //gridはstrechがデフォルトのため上書きしてスタートにしないとstickyが効かない
    position: -webkit-sticky; // WebKitブラウザ用のフォールバック
    position: sticky;

    top: 60vh; // "svh"ではなく"vh"を使用

    @include for-mobile {
      top: 50svh; // こちらも"svh"から"vh"に修正
    }
  }
  &__text {
    display: inline flow-root; //幅を自動的に内包するコンテンツに合わせるため
    @include enFont;
    font-size: 12px;
    line-height: 1.75em; // 175%
    letter-spacing: 0.16em;
    transform: rotate(90deg); //縦にする
    transform-origin: left top; //rotateは左上を起点にするため
    position: relative;
    left: 2rem;
    white-space: nowrap; // 1行で表示されるように
    transition: top 0.3s; // スムーズな移動のためのトランジション
  }
}

.main-content {
  grid-column: 2;

  display: grid;
  grid-template-columns: 1fr;
  gap: 30vh; //セクション間の間隔

  @include for-mobile {
    grid-column: 3 / 4;
  }
}

/* ------- works ------- */
.works {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr 1fr;
  grid-template-rows: 1fr auto 0.1fr;
  grid-gap: 1rem 1.5rem; // 行間隔16px、列間隔24px

  &__title {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  &__slider {
    grid-column: 3;
    grid-row: 1 / 3;
    aspect-ratio: 3 / 2; //比率を維持
    width: 100%;
    background-color: gray;
  }

  &__search {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: repeat(3, 1fr); //同じ幅の3列
    grid-template-rows: 1fr 0 1fr 1fr 1fr 1fr;
    grid-gap: 0.5rem 1rem;

    > span {
      grid-column: 1 / -1; // 1行目全体
      align-self: end; // この要素をコンテナの下端に揃える
      @include enFont;
      font-size: 14px;
      letter-spacing: 0.07em;
      text-transform: uppercase;
    }

    > hr {
      grid-column: 1 / -1; // 2行目全体
      height: 1px;
      color: var(--color-text-soft);
    }

    ul {
      grid-column: 1 / -1; // リスト全体を含む行も全体に
      display: contents; // ulのデフォルトのブロック性を解除し、liがグリッドアイテムとして機能するように
    }

    a {
      align-self: center; // 垂直方向に中央揃え
      @include hover-effect;
      transition: var(--hover);
    }

    li {
      @include enFont;
      font-size: 12px;
      letter-spacing: 0.083em;
    }
  }

  &__all {
    grid-column: 3;
    grid-row: 3;
    justify-self: flex-end; // 右端に寄せる(gridの時はjustify-self)
  }

  @include for-tablet {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    width: 100%;
    row-gap: 1.5rem;

    &__title {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }
    &__slider {
      grid-column: 1 / -1;
      grid-row: 3;
    }
    &__search {
      grid-column: 1 / -1;
      grid-row: 2;

      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(5, auto);
      align-self: start; // 位置を戻す
      grid-auto-flow: row;
      grid-auto-rows: auto; // コンテンツに応じて行の高さを自動調整
    }
    &__all {
      grid-column: 2;
      grid-row: 4;
    }
  }

  @include for-mobile {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
    gap: 1.5rem;

    &__title {
      grid-column: 1;
    }

    &__slider {
      grid-column: 1;
      grid-row: 3;
      width: 100%;
      height: auto;
    }

    &__search {
      grid-column: 1;
      grid-row: 2;
    }

    &__all {
      grid-column: 1;
      grid-row: 4;
    }
  }
}
/* ------- /. works ------- */

/* ------- about ------- */
.about {
  display: grid;
  grid-template-columns: auto auto 2fr;
  grid-template-rows: repeat(1, 1fr);
  column-gap: 1.5rem; // 列間隔24px

  &__title {
    grid-column: 3;
    justify-self: end;
  }

  &__photo {
    grid-column: 2;
    grid-row: 1 / 3;
    img {
      width: 100%;
      max-width: 400px;
    }
  }

  &__name {
    grid-column: 1;
    grid-row: 2;
    align-self: end; // 下揃え

    h2 {
      @include jpFont;
      font-size: 28px;
      line-height: normal;
      letter-spacing: 0.214em; // 6px
      text-wrap: nowrap;
    }
    p {
      @include textFont;
      font-size: 10px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.1em; // 1px
      text-wrap: nowrap;
    }
  }

  &__text {
    grid-column: 3;
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 2rem;

    h3 {
      grid-row: 1;
      @include textFont;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.25; // 20px
      letter-spacing: 0.075em; // 0.2px
    }
    p {
      grid-row: 2;
      @include textFont;
      font-size: 0.875rem;
      font-weight: 350;
      line-height: 1.71; // 24px
      letter-spacing: 0.0357em; // 0.5px
    }
  }

  &__all {
    grid-row: 3;
    justify-self: flex-end; // 右端に寄せる(gridの時はjustify-self)
  }

  @include for-tablet {
    grid-template-columns: auto auto;
    gap: 1rem;
    width: 100%;

    &__title {
      grid-column: 1;
      justify-self: start;
    }

    &__photo {
      grid-column: 2;
      grid-row: span 2; //2行

      img {
        max-width: 600px;
      }
    }

    &__name {
      grid-column: 1;
      grid-row: 2;
    }

    &__text {
      grid-column: 1 / -1; // 1行全部
      grid-row: 3;
    }
  }

  @include for-mobile {
    grid-template-columns: 1fr; // 1column
    grid-template-rows: auto; // heightは要素に応じて
    gap: 1rem;
    width: 100%;

    &__title {
      grid-column: 1;
      grid-row: 1;
      justify-self: start; // 左寄せ
    }

    &__photo {
      grid-column: 1;
      grid-row: 2;
      justify-self: center; // 中央揃え
    }

    &__name {
      grid-column: 1;
      grid-row: 3;

      h2 {
        @include jpFont;
        font-size: 20px;
        line-height: normal;
        letter-spacing: 0.15em; // 3px
      }
      p {
        text-wrap: wrap;
      }
    }

    &__text {
      grid-column: 1;
      grid-row: 5;
      display: grid;
      grid-template-rows: auto;
      gap: 1rem;

      h3 {
        @include textFont;
        grid-column: 1;
        grid-row: 1;
        font-size: 0.93rem; // 15px
        font-weight: 500; // default400
        line-height: 1.25; // 20px
        letter-spacing: 0.073em; // 1.1px
      }
      p {
        @include textFont;
        grid-column: 1;
        grid-row: 2;
        font-size: 0.75rem; // 12px
        font-weight: 350; // mixinとweightが違う
        line-height: 1.5; // 18px
        letter-spacing: 0.041em; // 0.5px
      }
    }

    &__all {
      grid-column: 1;
      grid-row: 3;
      justify-self: flex-end; // 右端に寄せる(gridの時はjustify-self)
    }
  }
}

/* ------- /.about ------- */
