// モバイル
@mixin for-mobile {
  @media (max-width: 480px) {
    @content;
  }
}

// モバイルとタブレット
@mixin for-mobile-and-tablet {
  @media (max-width: 959px) {
    @content;
  }
}

// タブレット
@mixin for-tablet {
  @media (min-width: 481px) and (max-width: 960px) {
    @content;
  }
}

// デスクトップ
@mixin for-desktop {
  @media (min-width: 961px) and (max-width: 1280px) {
    @content;
  }
}

// 大きなデスクトップ
@mixin for-large-desktop {
  @media (min-width: 1281px) {
    @content;
  }
}

@mixin enFont {
  font-family: var(--font-title-en);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
}

@mixin jpFont {
  font-family: var(--font-title-jp);
  font-weight: 500;
  font-style: normal;
  color: var(--color-text);
}

[lang='en'] {
  @include enFont;
}

[lang='ja'] {
  @include jpFont;
}

@mixin textFont {
  font-family: var(--font-praimary);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
}

// hover時のmixin
@mixin hover-effect {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--color-hover); // ホバー時の色をここに直接指定
    }
  }
}

@mixin works-style {
  grid-column: 2;
  grid-row: auto;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  padding-bottom: 10vh;
  margin-top: clamp(100px, 10vw, 140px);

  &__title {
    grid-row: 1;
  }
  @include for-mobile {
    grid-column: 3;
    padding-bottom: 1vh;
    // margin-top: 100px;
  }
}
