// モバイル
@mixin for-mobile {
  @media (max-width: 480px) {
    @content;
  }
}

// モバイルとタブレット
@mixin for-mobile-and-tablet {
  @media (max-width: 959px) {
    @content;
  }
}

// タブレット
@mixin for-tablet {
  @media (min-width: 481px) and (max-width: 960px) {
    @content;
  }
}

// デスクトップ
@mixin for-desktop {
  @media (min-width: 961px) and (max-width: 1280px) {
    @content;
  }
}

// 大きなデスクトップ
@mixin for-large-desktop {
  @media (min-width: 1281px) {
    @content;
  }
}

@mixin enFont {
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-title-en);
}

@mixin jpFont {
  font-style: normal;
  font-weight: 500;
  font-family: var(--font-title-jp);
}

[lang='en'] {
  @include enFont;
}

[lang='ja'] {
  @include jpFont;
}

@mixin textFont {
  color: var(--color-text);
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-praimary);
}

@mixin common-section-style {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  margin-top: clamp(80px, 20vw, 160px);
}

@mixin works-style {
  @include common-section-style;
  padding-bottom: 10vh;

  &__title {
    grid-row: 1;
  }

  @include for-mobile {
    grid-column: 3;
    padding-bottom: 1vh;
  }
}

@mixin button-style {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 200px;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.3) inset, -1px -1px 2px 0px rgba(230, 230, 230, 0.5) inset, -1px 1px 2px 0px rgba(230, 230, 230, 0.2), 1px -1px 2px 0px rgba(230, 230, 230, 0.2), -1px -1px 2px 0px rgba(255, 255, 255, 0.9), 1px 1px 3px 0px rgba(230, 230, 230, 0.9);
  background: var(--color-text);
  @include enFont;
  color: var(--color-white);
  font-size: 15px;
  line-height: 1.4; // 21px
  letter-spacing: 0.3em; // 14px
  text-transform: uppercase;

  @include for-mobile {
    justify-self: start;
  }
}
