@use './mixins' as *;

.mv {
  position: relative;
  margin-top: 120px;

  &__inner {
    display: grid;
    place-items: center; //水平および垂直方向の中央揃え
  }

  &__video {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
    max-width: 1280px; //moviesの作成サイズ1280px×720px
  }
}

.vertical-title {
  &__container {
    position: -webkit-sticky;
    position: sticky;
    top: 120px; //スクロールの際ビューポートの上端から120pxの位置で固定
  }

  &__text {
    display: flex;
    @include enFont;
    font-size: 12px;
    line-height: 1.75em; // 175%
    letter-spacing: 0.16em;
    transform: rotate(90deg); //縦にする
    transform-origin: left top; //rotateは左上を起点にする
    position: relative;
    left: 2rem; //左端32px開ける
    white-space: nowrap; // 1行で表示されるように
    transition: top 0.3s; // スムーズな移動のためのトランジション
  }
}

.works {
  max-width: 1080px;
  margin: 0 auto; //水平方向に中央揃え
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 0.1fr;
  grid-gap: 1rem 1.5rem; // 行間隔16px、列間隔24px

  &__title {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  &__slider {
    grid-column: 3;
    grid-row: 1 / 3;
    height: 400px;
    width: 600px;
  }

  &__search {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: repeat(3, 1fr); //同じ幅の3列
    grid-template-rows: 1fr 0.5rem 1fr 1fr 1fr 1fr;
    grid-gap: 0.5rem 1rem;

    > span {
      grid-column: 1 / -1; // 1行目全体
      align-self: end; // この要素をコンテナの下端に揃える
      @include enFont;
      font-size: 14px;
      letter-spacing: 0.07em;
      text-transform: uppercase;
    }

    > hr {
      grid-column: 1 / -1; // 2行目全体
      height: 1px;
      color: var(--color-text-soft);
    }

    ul {
      grid-column: 1 / -1; //リスト全体を含む行も全体に
      display: contents; // ulのデフォルトのブロック性を解除し、liがグリッドアイテムとして機能するように
    }

    li {
      @include enFont;
      font-size: 12px;
      letter-spacing: 0.083em;

      &.works__seach-tag::before {
        content: '#';
        margin-right: 0.2em;
      }
    }
  }

  &__all {
    grid-column: 3;
    grid-row: 3;
    display: flex;
    justify-content: flex-end;
  }
}
