@use '../mixins' as *;
/* ------- name animetion ------- */
@for $i from 1 through 11 {
  $dashValue: 0;
  // Default values for stroke-dashoffset and stroke-dasharray
  @if $i == 1 {
    $dashValue: 1128.88916015625px;
  } @else if $i == 2 {
    $dashValue: 465.85150146484375px;
  } @else if $i == 3 {
    $dashValue: 406.96795654296875px;
  } @else if $i == 4 {
    $dashValue: 465.8518981933594px;
  } @else if $i == 5 {
    $dashValue: 693.8052978515625px;
  } @else if $i == 6 {
    $dashValue: 465.85089111328125px;
  } @else if $i == 7 {
    $dashValue: 664.3232421875px;
  } @else if $i == 8 {
    $dashValue: 648.8483276367188px;
  } @else if $i == 9 {
    $dashValue: 358.988525390625px;
  } @else if $i == 10 {
    $dashValue: 693.811279296875px;
  } @else if $i == 11 {
    $dashValue: 465.85015869140625px;
  }

  @-webkit-keyframes animate-svg-stroke-#{$i} {
    0% {
      stroke-dashoffset: $dashValue;
      stroke-dasharray: $dashValue;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: $dashValue;
    }
  }

  @keyframes animate-svg-stroke-#{$i} {
    0% {
      stroke-dashoffset: $dashValue;
      stroke-dasharray: $dashValue;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: $dashValue;
    }
  }

  .mv__name-#{$i} {
    -webkit-animation: animate-svg-stroke-#{$i} 5s ease 0s both;
    animation: animate-svg-stroke-#{$i} 5s ease 0s both;
  }
}

// prefers-reduced-motionがreduceの場合、アニメーションを無効にする
@media (prefers-reduced-motion: reduce) {
  .mv__name-1,
  .mv__name-2,
  .mv__name-3,
  .mv__name-4,
  .mv__name-5,
  .mv__name-6,
  .mv__name-7,
  .mv__name-8,
  .mv__name-9,
  .mv__name-10,
  .mv__name-11 {
    -webkit-animation: none !important;
    animation: none !important;
  }
}

.mv {
  grid-column: 2;
  margin-top: 120px;
  height: 90vh;
  display: grid;
  place-items: center; //水平および垂直方向の中央揃え

  &__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: clamp(0.8rem, 2vw, 2rem);
    align-items: flex-end;
  }

  &__msg {
    @include enFont;
    font-size: clamp(0.8rem, 2vw, 1.5rem);
    letter-spacing: 0.07em;
    line-height: 1.5;
    text-align: right;
  }

  &__name {
    width: 90%;
    height: auto;
    display: block;

    &-1,
    &-2,
    &-3,
    &-4,
    &-5,
    &-6,
    &-7,
    &-8,
    &-9,
    &-10,
    &-11 {
      fill: none;
      stroke: var(--color-text);
      stroke-width: 2px;
      @include for-tablet {
        stroke-width: 2.6px;
      }
      @include for-mobile {
        stroke-width: 3px;
      }
    }
  }

  &__sitename {
    @include enFont;
    text-align: right;
    font-size: clamp(1.7rem, 5vw, 3rem);
    line-height: normal;
    letter-spacing: 0.11em;
  }

  @include for-mobile-and-tablet {
    &__name {
      width: 100%;
    }
  }

  @include for-mobile {
    grid-column: 2 / 4;
    margin-top: 40px;
    height: 80vh;
  }
}

.vertical-title {
  &__container {
    grid-column: 1;
    grid-row: 2;
    align-self: start; //gridはstrechがデフォルトのため上書きしてスタートにしないとstickyが効かない
    position: -webkit-sticky; // WebKitブラウザ用のフォールバック
    position: sticky;
    top: 56vh;
    padding-right: clamp(0rem, -1.455rem + 7.27vw, 4rem);
    justify-self: flex-end;
    width: 2rem;
    @include for-mobile {
      top: 30svh;
    }
    justify-self: flex-end;
    width: 2rem;
  }
  &__text {
    display: inline flow-root; //幅を自動的に内包するコンテンツに合わせるため
    @include enFont;
    font-size: 12px;
    line-height: 1.75em; // 175%
    letter-spacing: 0.16em;
    transform: rotate(90deg); //縦にする
    transform-origin: left top; //rotateは左上を起点にするため
    position: relative;
    left: 2rem;
    white-space: nowrap; // 1行で表示されるように
    transition: top 0.3s; // スムーズな移動のためのトランジション
  }
}

.main-content {
  grid-column: 2;

  display: grid;
  grid-template-columns: 1fr;
  gap: 30vh; //セクション間の間隔

  @include for-mobile {
    grid-column: 3 / 4;
  }
}

/* ------- works ------- */
.works {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  gap: clamp(0px, calc((100vw - 480px) * 0.1), 24px); //mobileではgap:0

  &__title {
    grid-row: 1;
  }

  &__slider {
    grid-row: 2;
    width: 100%;
  }

  &__all {
    grid-row: 3;
    justify-self: flex-end; // 右端に寄せる(gridの時はjustify-self)
  }
}

.swiper {
  &-slide {
    display: flex;
    justify-content: center; // 水平方向の中央寄せ
    align-items: center; // 垂直方向の中央寄せ

    &__img {
      img {
        max-width: 100%; // 画像がコンテナを超えないように
        height: auto; // アスペクト比を維持
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}
/* ------- /. works ------- */

/* ------- about ------- */
.about {
  display: grid;
  grid-template: repeat(1, auto) / 1fr auto;
  column-gap: 2rem;

  &__title {
    grid-column: 2;
  }

  &__photo {
    grid-column: 1;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    &-caption {
      justify-self: end;
      @include jpFont;
      font-weight: 200;
      font-size: 0.6rem;
      line-height: 1.5;
      letter-spacing: 0.1em;

      > a {
        text-transform: uppercase;
      }
    }
  }

  &__text {
    grid-column: 2;
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 2rem;

    h4 {
      grid-row: 1;
      @include jpFont;
      font-weight: 600;
      font-size: clamp(1rem, 0.891rem + 0.55vw, 1.3rem);
      line-height: 1.6;
      letter-spacing: clamp(0.073em, 0.075vw, 0.075em);
    }
    p {
      grid-row: 2;
      @include textFont;
      font-weight: 350;
      font-size: clamp(0.75rem, 0.875vw, 0.875rem);
      line-height: 2;
      letter-spacing: 0.0357em;
    }
  }

  &__all {
    grid-row: 3;
    justify-self: flex-end; // 右端に寄せる(gridの時はjustify-self)
  }

  @include for-tablet {
    grid-template-columns: auto auto; //tablet->2culumns
    width: 100%;

    &__title {
      grid-column: 1;
      justify-self: start;
    }

    &__photo {
      grid-column: 2;
      grid-row: span 2; //2rows

      img {
        max-width: 600px;
      }
    }

    &__name {
      grid-column: 1;
      grid-row: 2;
    }

    &__text {
      grid-column: 1 / -1; // 1行全部
      grid-row: 3;
    }
  }
  @include for-mobile-and-tablet {
    gap: clamp(0.5rem, 0.25rem + 1.25vw, 1rem);
    width: 100%;
  }

  @include for-mobile {
    grid-template: auto / 1fr;
    // grid-template-columns: 1fr; // mobile->1column
    // grid-template-rows: auto; // heightは要素に応じて

    &__title {
      grid-column: 1;
      grid-row: 1;
      justify-self: start; // 左寄せ
    }

    &__photo {
      grid-row: 2;
      justify-self: center; // 中央揃え
    }

    &__name {
      grid-column: 1;
      grid-row: 3;

      p {
        text-wrap: wrap;
      }
    }

    &__text {
      grid-column: 1;
      grid-row: 5;
      display: grid;
      grid-template-rows: auto;
      gap: 1rem;

      h3 {
        grid-column: 1;
        grid-row: 1;
      }
      p {
        @include textFont;
        grid-column: 1;
        grid-row: 2;
      }
    }

    &__all {
      grid-column: 1;
      grid-row: 3;
      justify-self: flex-end; // 右端に寄せる(gridの時はjustify-self)
    }
  }
}

/* ------- /.about ------- */
