@use '../mixins' as *;

.post__pagination {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
  height: clamp(2rem, 10vw, 5rem);

  @include for-mobile {
    grid-column: 2 / 4;
  }

  &__prev {
    grid-column: 1;
    grid-row: 1;

    &-text {
      position: relative;
      padding-left: clamp(0.1rem, 1vw, 1rem);

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-top: clamp(3px, 1vw, 6px) solid transparent;
        border-bottom: clamp(3px, 1vw, 6px) solid transparent;
        border-right: clamp(5px, 2vw, 10px) solid var(--color-text); // 矢印の色とサイズ
        left: clamp(-7.5px, -2vw, -15px); // 矢印を左に移動
        top: 50%; // 要素の中央に配置
        transform: translateY(-50%); // 矢印を垂直方向の中央に合わせる
      }
    }
  }

  &__next {
    grid-column: 2;
    grid-row: 1;
    justify-self: flex-end;

    &-text {
      position: relative;
      padding-right: clamp(0.1rem, 1vw, 1rem);

      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-top: clamp(3px, 1vw, 6px) solid transparent;
        border-bottom: clamp(3px, 1vw, 6px) solid transparent;
        border-left: clamp(5px, 2vw, 10px) solid var(--color-text); // 矢印の色とサイズ
        right: clamp(-7.5px, -2vw, -15px); // 矢印を右に移動
        top: 55%; // 要素の中央に配置
        transform: translateY(-50%); // 矢印を垂直方向の中央に合わせる
      }
    }
  }
}

.pagenation-text {
  @include textFont;
  font-size: clamp(0.6rem, 2vw, 0.8rem);
  letter-spacing: clamp(0.02em, 2vw, 0.1em);
  height: clamp(2rem, 5vw, 3rem);
}
