@use '../mixins' as *;

.page-about {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10rem;
  margin-top: 140px;

  &__main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    gap: 1.5rem;
  }

  &__title {
    grid-column: 1;
    grid-row: 1;
  }

  &__photo {
    grid-column: 2;
    grid-row: span 2;
  }

  &__name {
    grid-column: 1;
    grid-row: 2;
    align-self: end;

    h2 {
      @include jpFont;
      font-size: 28px;

      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.214em; // 6px
      margin-bottom: 0.5rem;
    }
    p {
      @include textFont;
      font-size: 12px;
      font-style: normal;
      font-weight: 350;
      line-height: 2; // 24px
      letter-spacing: 0.14em; // 1.68px
    }
  }

  &__info {
    display: grid;
    grid-template-columns: 1fr 0.75rem 1fr 0.75rem 1fr;
    gap: 2rem; // 32px
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    row-gap: 0.5rem;
    height: 280px;

    &-label {
      @include enFont;
      color: var(--color-gray);
      font-size: 12px;
      line-height: normal;
      letter-spacing: 0.06em; //0.72px
      height: 1rem;
    }

    &-title {
      @include jpFont;
      color: var(--color-text);
      font-size: 15px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.06em; //0.9px
    }

    &-text {
      @include textFont;
      color: var(----color-s-text);
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 23px; /* 191.667% */
      letter-spacing: 0.96px;
      margin-top: 2rem;
    }
  }

  @include for-mobile-and-tablet {
    grid-template-columns: 1fr;
    gap: 10rem;
    margin-top: 80px;

    &__main {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      gap: 1.5rem;
    }

    &__title {
      grid-column: 1;
      grid-row: 1;
    }

    &__photo {
      grid-column: 1;
      grid-row: 2;
    }

    &__name {
      grid-column: 1;
      grid-row: 3;
      align-self: flex-start;

      h2 {
        @include jpFont;
        font-size: 28px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.214em; // 6px
        margin-bottom: 0.5rem;
      }
      p {
        @include textFont;
        font-size: 10px;
        font-weight: 300;
        line-height: 1.5; // 15px
      }
    }

    &__info {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 0.75rem auto 0.75rem auto;
      gap: 2rem; // 32px
    }

    &__content {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
      row-gap: 0.5rem;
      height: auto;

      &-label {
        @include enFont;
        color: var(--color-gray);
        font-size: 12px;
        line-height: normal;
        letter-spacing: 0.06em; //0.72px
        height: 1rem;
      }

      &-title {
        @include jpFont;
        color: var(--color-text);
        font-size: 15px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.06em; //0.9px
      }

      &-text {
        @include textFont;
        color: var(----color-s-text);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px; /* 191.667% */
        letter-spacing: 0.96px;
        margin-top: 2rem;
      }
    }
  }

  @include for-mobile {
    grid-column: 3;
  }
}

hr {
  width: 1px;
  align-self: stretch;
  color: #c4c4c4;

  @include for-mobile-and-tablet {
    width: auto;
    height: 0;
  }
}

.skills,
.strengths {
  margin-top: 20rem;
}

.skills {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  gap: 6rem 4rem;

  ul {
    grid-column: 1;
    display: grid; // gridをネストする
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }

  &__item {
    display: grid;
    grid-template-columns: 130px; // 決め打ち
    grid-template-rows: auto auto;
    row-gap: 0.25rem;
  }

  &__icon {
    grid-column: 1;
    width: 120px;
    height: 120px;
    background: var(--color-white);
    box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.3) inset, -1px -1px 2px 0px rgba(230, 230, 230, 0.5) inset, -1px 1px 2px 0px rgba(230, 230, 230, 0.2), 1px -1px 2px 0px rgba(230, 230, 230, 0.2), -1px -1px 2px 0px rgba(255, 255, 255, 0.9), 1px 1px 3px 0px rgba(230, 230, 230, 0.9);

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 48px;
    }
  }

  span {
    grid-row: 2;
    @include enFont;
    font-size: 0.75rem; // 12px
    line-height: normal;
    letter-spacing: 0.1em; // 1.2px
  }

  &__img {
    grid-column: 2;
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  @include for-tablet {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 4rem 0;
    &__img {
      grid-column: 1;
      grid-row: 3;
      height: auto;
    }
  }

  @include for-mobile {
    grid-column: 3;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    row-gap: 20px;
    ul {
      padding-top: 2.5rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr);
      gap: 1rem 3rem;
      justify-self: center;
    }

    &__img {
      grid-column: 1;
      height: auto;
    }
  }
}

.strengths {
  grid-column: 2;
  grid-row: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 4rem;

  &__title {
    grid-column: 2;
  }
  &__meticulous {
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    background-color: var(--color-background);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-gap: 2rem;
    align-self: start;
  }

  &__certified {
    grid-column: 3;
    grid-row: 2;
    width: 100%;
    background-color: var(--color-background);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-gap: 2rem;
    align-self: start;
  }

  &__header {
    grid-column: 1;
    grid-row: 1;
    @include enFont;
    color: var(--color-gray);
    font-size: 1.125rem; // 18px
    line-height: normal;
    letter-spacing: 0.06em; // 1.08px
  }

  &__desc {
    grid-column: 1;
    grid-row: 2;
    @include textFont;
    font-size: 0.75rem; // 12px
    line-height: 1.92; // 23px
    letter-spacing: 0.08em; // 0.96px
    height: auto;
  }

  &__img {
    grid-column: 1;
    grid-row: 1 / 3;
    align-self: center;
    justify-self: center;

    &-photo {
      position: relative;
      img {
        max-width: 383px;
        width: 100%; //親要素に合わせて広がる
        height: auto; //アスペクト比を保つ
        border-radius: 90%;
      }

      &:after {
        content: '';
        background-image: url('../../assets/img/frame.png');
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; // 擬似要素の高さを親要素と同じにする
        background-size: 98% auto;
        background-repeat: no-repeat;
        background-position: center center;
        pointer-events: none;
        animation: 20s rotation linear infinite;
      }
    }
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @include for-mobile-and-tablet {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem 2rem;

    &__title {
      grid-column: 1;
      grid-row: 1;
    }

    &__meticulous {
      grid-column: 1;
      grid-row: 2;
    }

    &__img {
      grid-column: 1;
      grid-row: 3;
    }

    &__certified {
      grid-column: 1;
      grid-row: 4;
    }
  }
  @include for-mobile {
    grid-column: 3;
  }
}
