@use '../mixins' as *;

.thanks-message {
  grid-column: 2;
  margin-top: 140px;
  display: grid;
  grid-template-columns: minmax(0, auto) minmax(auto, 700px) minmax(0, auto);
  row-gap: 2rem;
  margin-bottom: 80vh;

  @include for-mobile {
    grid-column: 3;
  }

  &__container {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 4rem;
  }
}
