@use '../mixins' as *;

.contact {
  grid-column: 2;
  margin-top: 140px;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  > div {
    width: 20vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 0.5rem;
  }
}

.form-label {
  @include textFont;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 140% */
  letter-spacing: 2px;
}

.form-control {
  height: 21px;
}

.form-send {
  @include enFont;
  color: var(--color-white);
  font-size: 15px;
  line-height: 21px; /* 140% */
  letter-spacing: 14px;
  text-transform: uppercase;

  display: flex;
  padding: 11px 55px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 200px;
  border-radius: 8px;
  background: var(--color-text);

  /* neumo */
  box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.3) inset, -1px -1px 2px 0px rgba(230, 230, 230, 0.5) inset, -1px 1px 2px 0px rgba(230, 230, 230, 0.2), 1px -1px 2px 0px rgba(230, 230, 230, 0.2), -1px -1px 2px 0px rgba(255, 255, 255, 0.9), 1px 1px 3px 0px rgba(230, 230, 230, 0.9);
}
