@use '../mixins' as *;

.privacy-policy {
  @include common-section-style;
  grid-template-columns: minmax(0, auto) minmax(auto, 1080px) minmax(0, auto);

  @include for-mobile {
    grid-column: 3;
  }
  &__title {
    grid-column: 2;
    grid-row: 1;
  }
  &__container {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: auto;
    row-gap: 2rem;
  }
  &__introduction {
    @include textFont;
    font-size: 0.875rem;
    letter-spacing: 0.014em;
  }

  &__section {
    display: grid;
    grid-template-columns: auto;
    row-gap: 0.4rem;
  }

  &__heading {
    @include textFont;
    font-size: 1rem;
  }

  &__text {
    @include textFont;
    font-size: 0.875rem;
    line-height: 1.7;
    letter-spacing: 0.014em;
  }

  &__list {
    list-style: inside;
    @include textFont;
    font-size: 0.875rem;
    line-height: 1.7;
    letter-spacing: 0.014em;
  }

  &__button {
    grid-column: 2;
    grid-row: 3;
    @include button-style;
  }
}
