@use '../mixins' as *;

.thanks-message {
  @include common-section-style;
  grid-template-columns: minmax(0, auto) minmax(auto, 700px) minmax(0, auto);

  margin-bottom: 80vh;

  @include for-mobile {
    grid-column: 3;
  }

  &__container {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 4rem;
  }

  &__title {
    @include jpFont;
    font-size: 1.5rem;
  }

  &__text {
    @include textFont;
    font-size: 0.875rem;
    letter-spacing: 0.014em;
  }
}
