@use '../mixins' as *;

.form_block {
  display: grid;
  grid-template-columns: 1fr;
  height: 5em;
}

.form-required {
  @include textFont;
  font-size: 0.5rem;
  margin-left: 1em;
  color: #fff;
  background-color: #f67a7a;
  padding: 0.2em 0.5em;
  border-radius: 3px;
}

.form_field {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5em 1em;
  align-self: start;
}

.--textfield {
  height: 20em;
  resize: none;
}

.form-btn {
  @include button-style;
}

.contact {
  @include common-section-style;
  grid-template-columns: minmax(0, auto) minmax(auto, 1080px) minmax(0, auto);

  @include for-mobile {
    grid-column: 3;
  }

  &__container {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;

    @include for-mobile-and-tablet {
      grid-column: 1 / -1;
    }
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  label {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0.5rem;
    @include textFont;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4; // 21px
    letter-spacing: 0.13em;
  }

  &__contact {
    text-transform: uppercase;
  }

  &__privacy {
    @include textFont;
    > p {
      font-size: 13px;
      line-height: 1.5; // 19.5px

      a {
        font-weight: 600;
        color: var(--color-text-soft);
      }

      > span {
        font-size: 11px;
        font-style: normal;
        font-weight: 300;
        line-height: 1.5; // 16.5px
      }
    }
  }
}

.wpcf7-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  > p {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 0.5rem;
  }
}
