@use '../mixins' as *;

.enFont,
.jpFont,
.defaultFont {
  font-size: 40px;
  line-height: normal;
  letter-spacing: 0.1em;
}

.work {
  grid-column: 2;
  padding-top: 140px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  &__title {
    grid-column: 1;
    grid-row: 1;
  }
  &__tags {
    grid-column: 1;
    grid-row: 2; // titleの下
    @include enFont;
    font-size: 0.75rem; // 12px
    line-height: 1.66; // 20px
    letter-spacing: 0.17em; // 0.2px
  }

  &__img {
    grid-column: 1;
    grid-row: 3;
    img {
      width: 100%;
      height: auto; // 比率keep
    }
  }

  &__content {
    grid-column: 1;
    grid-row: 4;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    &-tools {
      grid-column: 1;
      grid-row: 1;
    }

    &-period {
      grid-column: 1;
      grid-row: 2;
    }

    &-concepts {
      grid-column: 1;
      grid-row: 3;
    }

    &-points {
      grid-column: 2;
      grid-row: 1;
    }

    &-info {
      grid-column: 2;
      grid-row: 2;
    }
  }

  @include for-mobile {
    grid-column: 3;
    &__title {
      grid-column: 1;
      grid-row: 1;
    }
    &__tags {
      grid-column: 1;
      grid-row: 2; // titleの下
      @include enFont;
      font-size: 0.75rem; // 12px
      line-height: 1.66; // 20px
      letter-spacing: 0.17em; // 0.2px
    }

    &__img {
      grid-column: 1;
      grid-row: 3;
      img {
        width: 100%;
        height: auto; // 比率keep
      }
    }

    &__content {
      width: 100%;
      grid-column: 1;
      grid-row: 4;

      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;

      &-tools {
        grid-row: 1;
      }

      &-period {
        grid-row: 2;
      }

      &-concepts {
        grid-row: 3;
      }

      &-points {
        grid-column: 1;
        grid-row: 4;
      }

      &-info {
        grid-column: 1;
        grid-row: 5;
      }
    }
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 0.4rem;
  &-title {
    @include enFont;
  }

  &-text {
    @include textFont;
  }
}

.post__pagination {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;

  &__left {
    grid-column: 1;
    grid-row: 1;

    &-text {
      position: relative;
      padding-left: 20px; // 矢印分のスペースを確保

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 10px solid var(--color-text); // 三角形の色とサイズ
        left: -15px; // 矢印を左に移動。この値は矢印のサイズや望むスペースに応じて調整
        top: 50%; // 要素の中央に配置
        transform: translateY(-50%); // 矢印を垂直方向の中央に合わせる
      }
    }
  }

  &__right {
    grid-column: 2;
    grid-row: 1;
    justify-self: flex-end;

    &-text {
      position: relative;
      padding-right: 20px; // 矢印分のスペースを確保

      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 10px solid var(--color-text); // 矢印の色とサイズ
        right: -15px; // 矢印を右に移動
        top: 50%; // 要素の中央に配置
        transform: translateY(-50%); // 矢印を垂直方向の中央に合わせる
      }
    }
  }
}
