@use '../mixins' as *;

.enFont,
.jpFont,
.defaultFont {
  font-size: 40px;
  line-height: normal;
  letter-spacing: 0.1em;
  color: var(--color-text);

  @include for-tablet {
    font-size: 2rem; // 32px
  }

  @include for-mobile {
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0.1em; // 2.4px
  }
}

.work {
  grid-column: 2;
  padding-top: 140px;
  padding-bottom: 160px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  &__title {
    grid-column: 1;
    grid-row: 1;
  }
  &__tags {
    grid-column: 1;
    grid-row: 2; // titleの下
    @include enFont;
    font-size: 0.75rem; // 12px
    line-height: 1.66; // 20px
    letter-spacing: 0.17em; // 0.2px
  }

  &__img {
    grid-column: 1;
    grid-row: 3;
    img {
      width: 100%;
      height: auto; // 比率keep
    }
  }

  &__content {
    grid-column: 1;
    grid-row: 4;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &-left,
    &-right {
      display: grid;
      grid-template-columns: 1fr;
      gap: 3rem;
      align-self: start;
    }

    &-left {
      grid-column: 1;
    }
    &-right {
      grid-column: 2;
    }

    &-date {
      grid-row: 1;
      @include enFont;
    }

    &-tools {
      grid-row: 2;
    }

    &-period {
      grid-row: 3;
    }

    &-concepts {
      grid-row: 4;
    }

    &-points {
      grid-row: 1;
    }

    &-info {
      grid-row: 2;
    }
  }
  @include for-tablet {
    &__content {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;

      &-left {
        grid-row: 1;
      }

      &-right {
        grid-column: 1;
        grid-row: 2;
      }
      &-left {
        grid-row: 1;
      }

      &-date {
        grid-row: 1;
      }

      &-tools {
        grid-row: 2;
      }

      &-period {
        grid-row: 3;
      }

      &-concepts {
        grid-row: 4;
      }

      &-points {
        grid-row: 1;
      }

      &-info {
        grid-row: 2;
      }
    }
  }

  @include for-mobile {
    grid-column: 3;
    padding-top: 80px;

    &__title {
      grid-column: 1;
      grid-row: 1;
    }

    &__tags {
      grid-column: 1;
      grid-row: 2; // titleの下
      @include enFont;
      font-size: 0.75rem; // 12px
      line-height: 1.66; // 20px
      letter-spacing: 0.17em; // 0.2px
    }

    &__img {
      grid-column: 1;
      grid-row: 3;
      img {
        width: 100%;
        height: auto; // 比率keep
      }
    }

    &__content {
      width: 100%;
      grid-column: 1;
      grid-row: 4;

      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;

      &-left {
        grid-row: 1;
      }

      &-right {
        grid-column: 1;
        grid-row: 2;
      }

      &-date {
        grid-row: 1;
      }

      &-tools {
        grid-row: 2;
      }

      &-period {
        grid-row: 3;
      }

      &-concepts {
        grid-row: 4;
      }

      &-points {
        grid-row: 1;
      }

      &-info {
        grid-row: 2;
      }
    }
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 0.5rem;

  &-title {
    @include enFont;
    letter-spacing: 0.1em;
  }

  &-text {
    @include textFont;
    font-size: 0.75rem;
    line-height: 1.6;
    letter-spacing: 0.2em;
  }
}

.post__pagination {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;

  @include for-mobile {
    grid-column: 2 / 4;
  }

  &__prev {
    grid-column: 1;
    grid-row: 1;

    &-text {
      position: relative;
      padding-left: 1rem; // 矢印分のスペースを確保

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 10px solid var(--color-text); // 三角形の色とサイズ
        left: -15px; // 矢印を左に移動。この値は矢印のサイズや望むスペースに応じて調整
        top: 50%; // 要素の中央に配置
        transform: translateY(-50%); // 矢印を垂直方向の中央に合わせる
      }
    }
  }

  &__next {
    grid-column: 2;
    grid-row: 1;
    justify-self: flex-end;

    &-text {
      position: relative;
      padding-right: 1rem; // 矢印分のスペースを確保

      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 10px solid var(--color-text); // 矢印の色とサイズ
        right: -15px; // 矢印を右に移動
        top: 50%; // 要素の中央に配置
        transform: translateY(-50%); // 矢印を垂直方向の中央に合わせる
      }
    }
  }

  @include for-mobile {
    &__prev-text {
      padding-right: 0.5rem; // 矢印分のスペースを確保
    }

    &__next-text {
      padding-left: 0.5rem;
    }
  }
}

.pagenation-text {
  @include textFont;
  font-size: 0.8rem;
}
