@charset "UTF-8";
:root {
  /* ------- Fonts ------- */
  --font-praimary: "Noto Sans JP", sans-serif;
  --font-title-jp: "Noto Serif JP", serif;
  --font-title-en: "Libre Baskerville", serif;
  /* ------- Color ------- */
  --color-background: #f5f5f5;
  --header-gradation: linear-gradient(180deg, #f5f5f5 40%, rgba(245, 245, 245, 0.44) 80%, rgba(245, 245, 245, 0) 100%);
  --color-white: #fffeff;
  --color-gray: #989898;
  --color-text: #363636;
  --color-text-soft: #666666;
  --color-hover: #c36c74;
  /* ------- Other ------- */
  --easeing: cubic-bezier(0.69, 0.02, 0.18, 1);
  --hover: 0.6s ease;
  --hover-duration: 0.6s;
  --hover-timing-function: ease;
  --container-width: 1080px;
}

[lang=en] {
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-title-en);
}

[lang=ja] {
  font-style: normal;
  font-weight: 500;
  font-family: var(--font-title-jp);
}

/* ------- reset ------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------- 共通 ------- */
body {
  background: var(--color-background);
  font-family: var(--font-primary);
}

html {
  font-size: 16px;
}

main {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
header,
p,
a,
li,
span {
  color: var(--color-text);
  text-decoration: none;
}

ul,
ol {
  list-style-type: "";
}

img {
  display: block;
  max-width: 100%;
}

/* ------- layout ------- */
main {
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(auto, 1280px) minmax(2rem, 1fr);
}
@media (min-width: 961px) and (max-width: 1280px) {
  main {
    grid-template-columns: minmax(3rem, 1fr) minmax(auto, 1080px) minmax(3rem, 1fr);
  }
}
@media (min-width: 481px) and (max-width: 960px) {
  main {
    grid-template-columns: minmax(2rem, 1fr) minmax(auto, 680px) minmax(2rem, 1fr);
  }
}
@media (max-width: 480px) {
  main {
    grid-template-columns: 1.5rem 20px auto 1.5rem;
  }
}

.section-header {
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-title-en);
  font-size: clamp(1.85rem, 1.286rem + 2.82vw, 3.4rem);
}

.section-subheader {
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-title-en);
  font-size: clamp(1.5rem, 1.318rem + 0.91vw, 2rem);
}

.section-header,
.section-subheader {
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.viewall a {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.viewall a span {
  grid-column: 1;
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-title-en);
  font-size: 0.875rem;
  line-height: 1.42;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.animate-slide {
  animation: animate-slide 2s cubic-bezier(0.42, 0, 0.27, 0.99) 0s 1;
}

@keyframes animate-slide {
  0%, 100% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  50% {
    transform: translateX(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}
/* ------- arrow ------- */
.arrow {
  grid-column: 2;
  grid-row: 1;
  transform: rotate(-90deg);
  cursor: pointer;
}

.arrow span {
  display: block;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  margin: -4px;
  border-right: 1px solid var(--color-text);
  border-bottom: 1px solid var(--color-text);
  animation: animate-arrow 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate-arrow {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
/*  ------- svg ------- */
#icon-instagram {
  width: 1.25rem;
  height: 1.25rem;
}

.cls-1 {
  fill: none;
  stroke: var(--color-text);
  stroke-miterlimit: 10;
  stroke-width: 1.2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* ------- /.svg ------- */
/* ------- header ------- */
.site-header {
  position: sticky;
  inset-block-start: 0;
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1280px) minmax(1.5rem, 1fr);
  place-items: center;
  z-index: 5;
  height: 140px;
  background: var(--header-gradation);
}
.site-header__container {
  display: flex;
  grid-column: 2;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.site-header__logo a {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 1rem;
  text-decoration: none;
}
.site-header__logo a img {
  grid-row: span 2;
  width: 24px;
  height: 24px;
}
.site-header__position, .site-header__name {
  justify-self: start;
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-title-en);
  font-size: 0.625rem;
  line-height: normal;
  letter-spacing: 0.1em;
}
.site-header__gnav {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 4rem;
}
.site-header__gnav ul {
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: clamp(2rem, -6.909rem + 14.55vw, 4rem);
  inset: 0;
}
.site-header__gnav ul li a {
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-title-en);
  font-size: 0.875rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.site-header__link-icon {
  display: grid;
  place-items: end center;
}
@media (min-width: 961px) and (max-width: 1280px) {
  .site-header__link-icon {
    place-items: center start;
  }
}
@media (min-width: 961px) and (max-width: 1280px) {
  .site-header {
    grid-template-columns: minmax(1.5rem, 1fr) minmax(auto, 1080px) minmax(1.5rem, 1fr);
  }
}

/* ------- hamburger menu ------- */
.site-nav-toggle {
  display: none;
  position: relative;
  z-index: 10;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.site-nav-toggle__text {
  position: absolute;
  inset-block-start: 1rem;
  inset-inline-start: 50%;
  transform: translateX(-50%);
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 500;
  font-family: var(--font-title-jp);
  letter-spacing: 0.05em;
  text-transform: capitalize;
}
.site-nav-toggle > span:nth-of-type(1),
.site-nav-toggle > span:nth-of-type(2),
.site-nav-toggle > span:nth-of-type(3) {
  content: "";
  height: 1.2px;
  width: 30px;
  background-color: var(--color-text);
  position: absolute;
  transition: 0.4s var(--easeing);
}
.site-nav-toggle > span:nth-of-type(1) {
  top: calc(30% - 6px);
}
.site-nav-toggle > span:nth-of-type(2) {
  top: 30%;
}
.site-nav-toggle > span:nth-of-type(3) {
  top: calc(30% + 6px);
}
.site-nav-toggle > span:nth-of-type(2),
.site-nav-toggle > span:nth-of-type(3) {
  transform-origin: left center;
}

/* ------- nav ------- */
.site-nav-checkbox {
  display: none;
}

@media (max-width: 959px) {
  .site-nav-toggle {
    display: flex;
  }
  .site-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }
  .site-nav-checkbox:checked ~ .site-nav {
    transform: translateX(0);
  }
  .site-header__nav-container {
    display: flex;
    align-items: center;
    padding: 2.5rem;
  }
  .site-header__gnav {
    grid-template-columns: 1fr;
    gap: 3.5rem;
    align-content: center;
    padding-inline-start: 2rem;
  }
  .site-header__gnav ul {
    grid-template-columns: 1fr;
    gap: 3.5rem;
    justify-self: flex-start;
  }
  .site-header__gnav ul li a {
    color: var(--color-white);
  }
  .site-header__link-icon {
    place-items: center start;
  }
  .site-header .site-nav-checkbox:checked ~ .site-nav-toggle span:nth-of-type(2) {
    transform: scaleX(0);
  }
  .site-header .site-nav-checkbox:checked ~ .site-nav-toggle span:nth-of-type(1),
  .site-header .site-nav-checkbox:checked ~ .site-nav-toggle span:nth-of-type(3) {
    top: 30%;
    transform: rotate(24deg);
    transform-origin: center center;
    background-color: var(--color-white);
  }
  .site-header .site-nav-checkbox:checked ~ .site-nav-toggle span:nth-of-type(3) {
    transform: rotate(-24deg);
    transform-origin: center center;
  }
  .site-header .cls-1 {
    stroke: var(--color-white);
  }
}
@media (max-width: 480px) {
  .site-header {
    height: 80px;
  }
  .site-nav {
    width: 50%;
    height: 100vh;
  }
}
.white-text {
  color: var(--color-white);
}

/* ------- /.hamburger menu ------- */
/* ------- footer ------- */
.site-footer__inner {
  display: flex;
  width: 100%;
  padding: 24px 0px;
  justify-content: center;
  align-items: center;
  background: var(--color-text);
  margin-top: clamp(7.5rem, 3.409rem + 20.45vw, 18.75rem);
}
.site-footer__inner small {
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-title-en);
  color: var(--color-white);
  font-size: 0.875rem;
  line-height: normal;
}

/* ------- vertical-txt ------- */
.vertical-category {
  position: sticky;
  grid-column: 1;
  align-self: start;
  justify-self: flex-end;
  padding-inline-end: clamp(0rem, -1.993rem + 6.66vw, 3rem);
  top: clamp(5rem, 4.091rem + 4.55vw, 7.5rem);
  width: 2rem;
}
.vertical-category__inner {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  justify-items: center;
}
.vertical-category__vertical, .vertical-category__horizontal {
  white-space: nowrap;
  width: 20px;
}
.vertical-category__vertical {
  font-style: normal;
  font-weight: 500;
  font-family: var(--font-title-jp);
  font-size: 0.875rem;
  letter-spacing: 0.5em;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.vertical-category__horizontal {
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-title-en);
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transform: rotate(90deg) translateX(50%);
  white-space: nowrap;
}
.vertical-category__cross {
  position: relative;
}
.vertical-category__cross:before, .vertical-category__cross:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.5px;
  height: 14px;
  background-color: var(--color-text);
  transform: translate(-50%, -50%);
}
.vertical-category__cross::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.vertical-category__cross::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
@media (max-width: 480px) {
  .vertical-category {
    grid-column: 1;
    margin-inline-start: 1rem;
    width: auto;
    justify-self: auto;
  }
}

/* ------- /.vertical-text ------- */
/* ------- br ------- */
.mobile-only-br {
  display: none;
}

@media (max-width: 480px) {
  .mobile-only-br {
    display: inline;
  }
}
/* ------- pagenation 未実装------- */
.pagination {
  text-align: center;
}

.nav-links .page-numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-links a.page-numbers,
.nav-links .current,
.nav-links a.prev,
.nav-links a.next,
.nav-links .dots {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: var(--color-background);
  color: var(--color-text);
  border-radius: 50%;
  margin-right: 25px;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid var(--color-text);
}

.nav-links a.page-numbers:hover {
  color: var(--color-white);
  background-color: var(--color-hover);
  border-color: var(--color-hover);
  border-radius: 50%;
}

.nav-links .current {
  background: var(--color-text);
  color: var(--color-white);
  padding: 0;
}

.nav-links a.prev,
.nav-links a.next {
  border: 1px solid var(--color-text);
  color: var(--color-text);
  position: relative;
}

.nav-links .next::before,
.nav-links .prev::after {
  content: "";
  display: inline-block;
  width: 0.5px;
  height: 40px;
  background-color: rgb(224, 215, 215);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.nav-links .next::before {
  left: -15px;
}

.nav-links .prev::after {
  right: -15px;
}

.nav-links .dots {
  background: transparent;
  border: none;
}

@media (max-width: 600px) {
  .page-numbers,
  .page-numbers.current {
    padding: 5px 10px;
  }
}
/* ------- works and tag card ------- */
.works__archive {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-self: center;
  gap: 2%;
}
.works__archive li {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
}
.works__archive-card {
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
}
.works__archive-card:hover {
  opacity: 0.5;
}
.works__archive-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 481px) and (max-width: 960px) {
  .works__archive {
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 480px) {
  .works__archive {
    grid-column: 2/4;
    grid-template-columns: 1fr;
    gap: 0.5%;
  }
}

/* ------- tag selecter ------- */
.tag-selector {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 1rem;
}
.tag-selector > span {
  grid-row: 1;
  align-self: end;
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-title-en);
  font-size: 0.875rem;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}
.tag-selector > hr {
  grid-row: 2;
  width: auto;
  height: 0;
  border-top: 1px solid var(--color-text-soft);
}
.tag-selector > ul {
  grid-row: 3;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1.5rem;
}
.tag-selector > ul > li {
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-title-en);
  font-size: 0.875rem;
  letter-spacing: 0.083em;
}
.tag-selector > ul > li::before {
  content: "#";
}

/* ------- desc ------- */
.common__desc {
  color: var(--color-text);
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-praimary);
  font-size: 0.75rem;
  line-height: 1.91;
  letter-spacing: 0.1em;
}

/* ------- prefers-reduced-motion ------- */
@media (prefers-reduced-motion: reduce) {
  .animated-element span {
    animation: none !important;
    transition: none !important;
  }
}
/* ------- screen reader only ------- */
.sr-only {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* ------- name animetion ------- */
@-webkit-keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 1128.8891601563px;
    stroke-dasharray: 1128.8891601563px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1128.8891601563px;
  }
}
@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 1128.8891601563px;
    stroke-dasharray: 1128.8891601563px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1128.8891601563px;
  }
}
.mainvisual__name-char--1 {
  -webkit-animation: animate-svg-stroke-1 5s ease 0s both;
  animation: animate-svg-stroke-1 5s ease 0s both;
}

@-webkit-keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 465.8515014648px;
    stroke-dasharray: 465.8515014648px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 465.8515014648px;
  }
}
@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 465.8515014648px;
    stroke-dasharray: 465.8515014648px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 465.8515014648px;
  }
}
.mainvisual__name-char--2 {
  -webkit-animation: animate-svg-stroke-2 5s ease 0s both;
  animation: animate-svg-stroke-2 5s ease 0s both;
}

@-webkit-keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 406.967956543px;
    stroke-dasharray: 406.967956543px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 406.967956543px;
  }
}
@keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 406.967956543px;
    stroke-dasharray: 406.967956543px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 406.967956543px;
  }
}
.mainvisual__name-char--3 {
  -webkit-animation: animate-svg-stroke-3 5s ease 0s both;
  animation: animate-svg-stroke-3 5s ease 0s both;
}

@-webkit-keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 465.8518981934px;
    stroke-dasharray: 465.8518981934px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 465.8518981934px;
  }
}
@keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 465.8518981934px;
    stroke-dasharray: 465.8518981934px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 465.8518981934px;
  }
}
.mainvisual__name-char--4 {
  -webkit-animation: animate-svg-stroke-4 5s ease 0s both;
  animation: animate-svg-stroke-4 5s ease 0s both;
}

@-webkit-keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 693.8052978516px;
    stroke-dasharray: 693.8052978516px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 693.8052978516px;
  }
}
@keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 693.8052978516px;
    stroke-dasharray: 693.8052978516px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 693.8052978516px;
  }
}
.mainvisual__name-char--5 {
  -webkit-animation: animate-svg-stroke-5 5s ease 0s both;
  animation: animate-svg-stroke-5 5s ease 0s both;
}

@-webkit-keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 465.8508911133px;
    stroke-dasharray: 465.8508911133px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 465.8508911133px;
  }
}
@keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 465.8508911133px;
    stroke-dasharray: 465.8508911133px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 465.8508911133px;
  }
}
.mainvisual__name-char--6 {
  -webkit-animation: animate-svg-stroke-6 5s ease 0s both;
  animation: animate-svg-stroke-6 5s ease 0s both;
}

@-webkit-keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 664.3232421875px;
    stroke-dasharray: 664.3232421875px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 664.3232421875px;
  }
}
@keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 664.3232421875px;
    stroke-dasharray: 664.3232421875px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 664.3232421875px;
  }
}
.mainvisual__name-char--7 {
  -webkit-animation: animate-svg-stroke-7 5s ease 0s both;
  animation: animate-svg-stroke-7 5s ease 0s both;
}

@-webkit-keyframes animate-svg-stroke-8 {
  0% {
    stroke-dashoffset: 648.8483276367px;
    stroke-dasharray: 648.8483276367px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 648.8483276367px;
  }
}
@keyframes animate-svg-stroke-8 {
  0% {
    stroke-dashoffset: 648.8483276367px;
    stroke-dasharray: 648.8483276367px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 648.8483276367px;
  }
}
.mainvisual__name-char--8 {
  -webkit-animation: animate-svg-stroke-8 5s ease 0s both;
  animation: animate-svg-stroke-8 5s ease 0s both;
}

@-webkit-keyframes animate-svg-stroke-9 {
  0% {
    stroke-dashoffset: 358.9885253906px;
    stroke-dasharray: 358.9885253906px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 358.9885253906px;
  }
}
@keyframes animate-svg-stroke-9 {
  0% {
    stroke-dashoffset: 358.9885253906px;
    stroke-dasharray: 358.9885253906px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 358.9885253906px;
  }
}
.mainvisual__name-char--9 {
  -webkit-animation: animate-svg-stroke-9 5s ease 0s both;
  animation: animate-svg-stroke-9 5s ease 0s both;
}

@-webkit-keyframes animate-svg-stroke-10 {
  0% {
    stroke-dashoffset: 693.8112792969px;
    stroke-dasharray: 693.8112792969px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 693.8112792969px;
  }
}
@keyframes animate-svg-stroke-10 {
  0% {
    stroke-dashoffset: 693.8112792969px;
    stroke-dasharray: 693.8112792969px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 693.8112792969px;
  }
}
.mainvisual__name-char--10 {
  -webkit-animation: animate-svg-stroke-10 5s ease 0s both;
  animation: animate-svg-stroke-10 5s ease 0s both;
}

@-webkit-keyframes animate-svg-stroke-11 {
  0% {
    stroke-dashoffset: 465.8501586914px;
    stroke-dasharray: 465.8501586914px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 465.8501586914px;
  }
}
@keyframes animate-svg-stroke-11 {
  0% {
    stroke-dashoffset: 465.8501586914px;
    stroke-dasharray: 465.8501586914px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 465.8501586914px;
  }
}
.mainvisual__name-char--11 {
  -webkit-animation: animate-svg-stroke-11 5s ease 0s both;
  animation: animate-svg-stroke-11 5s ease 0s both;
}

@media (prefers-reduced-motion: reduce) {
  .mainvisual__name-char--1,
  .mainvisual__name-char--2,
  .mainvisual__name-char--3,
  .mainvisual__name-char--4,
  .mainvisual__name-char--5,
  .mainvisual__name-char--6,
  .mainvisual__name-char--7,
  .mainvisual__name-char--8,
  .mainvisual__name-char--9,
  .mainvisual__name-char--10,
  .mainvisual__name-char--11 {
    -webkit-animation: none !important;
    animation: none !important;
  }
}
.mainvisual {
  display: grid;
  grid-column: 2;
  place-items: center;
  margin-top: 120px;
  height: 90vh;
}
.mainvisual__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: clamp(0.8rem, 2vw, 2rem);
  align-items: flex-end;
}
.mainvisual__msg {
  padding-right: 0.2rem;
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-title-en);
  font-size: clamp(0.8rem, 2vw, 1.5rem);
  letter-spacing: 0.07em;
  line-height: 1.5;
  text-align: end;
}
.mainvisual__name {
  width: 90%;
  height: auto;
  display: block;
}
.mainvisual__name-char--1, .mainvisual__name-char--2, .mainvisual__name-char--3, .mainvisual__name-char--4, .mainvisual__name-char--5, .mainvisual__name-char--6, .mainvisual__name-char--7, .mainvisual__name-char--8, .mainvisual__name-char--9, .mainvisual__name-char--10, .mainvisual__name-char--11 {
  fill: none;
  stroke: var(--color-text);
  stroke-width: 2px;
}
@media (min-width: 481px) and (max-width: 960px) {
  .mainvisual__name-char--1, .mainvisual__name-char--2, .mainvisual__name-char--3, .mainvisual__name-char--4, .mainvisual__name-char--5, .mainvisual__name-char--6, .mainvisual__name-char--7, .mainvisual__name-char--8, .mainvisual__name-char--9, .mainvisual__name-char--10, .mainvisual__name-char--11 {
    stroke-width: 2.6px;
  }
}
@media (max-width: 480px) {
  .mainvisual__name-char--1, .mainvisual__name-char--2, .mainvisual__name-char--3, .mainvisual__name-char--4, .mainvisual__name-char--5, .mainvisual__name-char--6, .mainvisual__name-char--7, .mainvisual__name-char--8, .mainvisual__name-char--9, .mainvisual__name-char--10, .mainvisual__name-char--11 {
    stroke-width: 3px;
  }
}
@media (max-width: 959px) {
  .mainvisual__name {
    width: 95%;
  }
}
@media (max-width: 480px) {
  .mainvisual {
    grid-column: 1/-1;
    margin-top: 40px;
    height: 80vh;
  }
}

.vertical-title__container {
  grid-column: 1;
  grid-row: 2;
  align-self: start;
  position: -webkit-sticky;
  position: sticky;
  top: 56vh;
  padding-right: clamp(0rem, -1.455rem + 7.27vw, 4rem);
  justify-self: flex-end;
  width: 2rem;
}
@media (max-width: 480px) {
  .vertical-title__container {
    top: 30svh;
  }
}
.vertical-title__text {
  display: inline flow-root;
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-title-en);
  font-size: 12px;
  line-height: 1.75em;
  letter-spacing: 0.16em;
  transform: rotate(90deg);
  transform-origin: left top;
  position: relative;
  left: 2rem;
  white-space: nowrap;
  transition: top 0.3s;
}

.main-content {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30vh;
}
@media (max-width: 480px) {
  .main-content {
    grid-column: 3/4;
  }
}

/* ------- works ------- */
.works {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  gap: clamp(0px, (100vw - 480px) * 0.1, 24px);
}
.works__title {
  grid-row: 1;
}
.works__slider {
  grid-row: 2;
  width: 100%;
}
.works__all {
  grid-row: 3;
  justify-self: flex-end;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide__img img {
  max-width: 100%;
  height: auto;
}
.swiper-slide__img img:hover {
  opacity: 0.5;
}

/* ------- /. works ------- */
/* ------- about ------- */
.about {
  display: grid;
  grid-template: repeat(1, auto)/1fr auto;
  column-gap: 2rem;
}
.about__title {
  grid-column: 2;
}
.about__photo {
  grid-column: 1;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: 1fr;
}
.about__photo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.about__photo-caption {
  justify-self: end;
  font-style: normal;
  font-weight: 500;
  font-family: var(--font-title-jp);
  font-weight: 200;
  font-size: 0.6rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
}
.about__photo-caption > a {
  text-transform: uppercase;
}
.about__text {
  grid-column: 2;
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 2rem;
}
.about__text h4 {
  grid-row: 1;
  font-style: normal;
  font-weight: 500;
  font-family: var(--font-title-jp);
  font-weight: 600;
  font-size: clamp(1rem, 0.891rem + 0.55vw, 1.3rem);
  line-height: 1.6;
  letter-spacing: clamp(0.073em, 0.075vw, 0.075em);
}
.about__text p {
  grid-row: 2;
  color: var(--color-text);
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-praimary);
  font-weight: 350;
  font-size: clamp(0.75rem, 0.875vw, 0.875rem);
  line-height: 2;
  letter-spacing: 0.0357em;
}
.about__all {
  grid-row: 3;
  justify-self: flex-end;
}
@media (min-width: 481px) and (max-width: 960px) {
  .about {
    grid-template-columns: auto auto;
    width: 100%;
  }
  .about__title {
    grid-column: 1;
    justify-self: start;
  }
  .about__photo {
    grid-column: 2;
    grid-row: span 2;
  }
  .about__photo img {
    max-width: 600px;
  }
  .about__name {
    grid-column: 1;
    grid-row: 2;
  }
  .about__text {
    grid-column: 1/-1;
    grid-row: 3;
  }
}
@media (max-width: 959px) {
  .about {
    gap: clamp(0.5rem, 0.25rem + 1.25vw, 1rem);
    width: 100%;
  }
}
@media (max-width: 480px) {
  .about {
    grid-template: auto/1fr;
  }
  .about__title {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
  }
  .about__photo {
    grid-row: 2;
    justify-self: center;
  }
  .about__name {
    grid-column: 1;
    grid-row: 3;
  }
  .about__name p {
    text-wrap: wrap;
  }
  .about__text {
    grid-column: 1;
    grid-row: 5;
    display: grid;
    grid-template-rows: auto;
    gap: 1rem;
  }
  .about__text h3 {
    grid-column: 1;
    grid-row: 1;
  }
  .about__text p {
    color: var(--color-text);
    font-style: normal;
    font-weight: 400;
    font-family: var(--font-praimary);
    grid-column: 1;
    grid-row: 2;
  }
  .about__all {
    grid-column: 1;
    grid-row: 3;
    justify-self: flex-end;
  }
}

/* ------- /.about ------- */
.archive-works {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  margin-top: clamp(80px, 20vw, 160px);
  padding-bottom: 10vh;
}
.archive-works__title {
  grid-row: 1;
}
@media (max-width: 480px) {
  .archive-works {
    grid-column: 3;
    padding-bottom: 1vh;
  }
}
.archive-works__title {
  grid-row: 1;
}

.page-about {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  margin-top: clamp(80px, 20vw, 160px);
  row-gap: 8vh;
}
.page-about__main {
  display: grid;
  grid-template: repeat(2, auto)/1fr;
  gap: 1.5rem;
}
.page-about__photo {
  grid-row: 2;
  overflow: hidden;
}
.page-about__photo > img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  object-position: center;
}
.page-about__info {
  display: grid;
  grid-template-columns: 1fr 0.75rem 1fr 0.75rem 1fr;
  gap: 2rem;
}
.page-about__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  row-gap: 0.2rem;
}
.page-about__content-label {
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-title-en);
  color: var(--color-gray);
  font-size: clamp(0.875rem, 0.852rem + 0.11vw, 0.938rem);
  line-height: normal;
  letter-spacing: 0.06em;
}
.page-about__content-title {
  font-style: normal;
  font-weight: 500;
  font-family: var(--font-title-jp);
  color: var(--color-text);
  font-size: clamp(1rem, 0.955rem + 0.23vw, 1.125rem);
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.1em;
}
.page-about__content-text {
  margin-top: 2rem;
}
@media (max-width: 959px) {
  .page-about {
    grid-template-columns: 1fr;
  }
  .page-about__main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 0.2rem;
  }
  .page-about__title {
    grid-column: 1;
    grid-row: 1;
  }
  .page-about__photo {
    grid-column: 1;
    grid-row: 3;
  }
  .page-about__info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 0.75rem auto 0.75rem auto;
    gap: 2rem;
  }
  .page-about__content {
    grid-template-rows: repeat(3, auto);
    height: auto;
  }
}
@media (max-width: 480px) {
  .page-about {
    grid-column: 3;
  }
}

hr {
  width: 0;
  border: none;
  border-left: 1px solid #c4c4c4;
}
@media (max-width: 959px) {
  hr {
    width: auto;
    height: 0;
    border-top: 1px solid #c4c4c4;
  }
}

.skills,
.strengths {
  margin-top: clamp(20vh, 20vw, 30vh);
}

.skills {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  gap: 6rem 4rem;
}
.skills ul {
  grid-column: 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.skills__item {
  display: grid;
  grid-template-columns: 130px;
  grid-template-rows: auto auto;
  row-gap: 0.25rem;
}
.skills__icon {
  grid-column: 1;
  width: 120px;
  height: 120px;
  background: var(--color-white);
  box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.3) inset, -1px -1px 2px 0px rgba(230, 230, 230, 0.5) inset, -1px 1px 2px 0px rgba(230, 230, 230, 0.2), 1px -1px 2px 0px rgba(230, 230, 230, 0.2), -1px -1px 2px 0px rgba(255, 255, 255, 0.9), 1px 1px 3px 0px rgba(230, 230, 230, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills__icon img {
  width: 48px;
}
.skills span {
  grid-row: 2;
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-title-en);
  font-size: 0.75rem;
  line-height: normal;
  letter-spacing: 0.1em;
}
.skills__img {
  grid-column: 2;
  width: 100%;
  height: auto;
  object-fit: contain;
}
@media (min-width: 481px) and (max-width: 960px) {
  .skills {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 4rem 0;
  }
  .skills__img {
    grid-column: 1;
    grid-row: 3;
    height: auto;
  }
}
@media (max-width: 480px) {
  .skills {
    grid-column: 3;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    row-gap: 20px;
  }
  .skills ul {
    padding-top: 2.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem 3rem;
    justify-self: center;
  }
  .skills__img {
    grid-column: 1;
    height: auto;
  }
}

.strengths {
  grid-column: 2;
  grid-row: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 4rem;
}
.strengths__title {
  grid-column: 2;
}
.strengths__meticulous, .strengths__certified {
  width: 100%;
  background-color: var(--color-background);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  grid-gap: clamp(0.5rem, 0.227rem + 1.36vw, 1.25rem);
  align-self: start;
}
.strengths__meticulous {
  grid-column: 2;
  grid-row: 2;
}
.strengths__certified {
  grid-column: 3;
  grid-row: 2;
}
.strengths__header {
  grid-column: 1;
  grid-row: 1;
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-title-en);
  color: var(--color-gray);
  font-size: 1.125rem;
  line-height: normal;
  letter-spacing: 0.06em;
}
.strengths__desc {
  grid-column: 1;
  grid-row: 2;
}
.strengths__img {
  grid-column: 1;
  grid-row: 1/3;
  align-self: center;
  justify-self: center;
}
.strengths__img-photo {
  position: relative;
}
.strengths__img-photo img {
  max-width: 383px;
  width: 100%;
  height: auto;
  border-radius: 90%;
}
.strengths__img-photo:after {
  content: "";
  background-image: url("../../assets/img/frame.webp");
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 98% auto;
  background-repeat: no-repeat;
  background-position: center center;
  pointer-events: none;
  animation: 20s rotation linear infinite;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 959px) {
  .strengths {
    display: grid;
    grid-template-columns: 1fr;
  }
  .strengths__title {
    grid-column: 1;
    grid-row: 1;
  }
  .strengths__meticulous {
    grid-column: 1;
    grid-row: 2;
  }
  .strengths__img {
    grid-column: 1;
    grid-row: 3;
  }
  .strengths__certified {
    grid-column: 1;
    grid-row: 4;
  }
}
@media (max-width: 480px) {
  .strengths {
    grid-column: 3;
  }
}

.certified__list {
  display: grid;
  grid-template-columns: min-content auto;
  gap: 0.4rem;
}
.certified__year {
  white-space: nowrap;
}
.certified__name {
  word-break: auto-phrase;
}

.work {
  grid-column: 2;
  padding-top: 140px;
  padding-bottom: 160px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.work__title {
  grid-column: 1;
  grid-row: 1;
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-title-en);
  font-size: clamp(1.8rem, 1.364rem + 2.18vw, 3rem);
  line-height: normal;
  letter-spacing: 0.1em;
}
.work__tags {
  grid-column: 1;
  grid-row: 2;
}
.work__tags > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1.5rem;
}
.work__tags > ul > li {
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-title-en);
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.17em;
}
.work__tags > ul > li::before {
  content: "#";
}
.work__img {
  grid-column: 1;
  grid-row: 3;
}
.work__img img {
  width: 100%;
  height: auto;
}
.work__content {
  grid-column: 1;
  grid-row: 4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
}
.work__content-left, .work__content-right {
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp(2rem, 1.636rem + 1.82vw, 3rem);
  align-self: start;
}
.work__content-left {
  grid-column: 1;
}
.work__content-right {
  grid-column: 2;
}
.work__content-date {
  grid-row: 1;
  color: var(--color-text);
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-praimary);
  font-size: 0.75rem;
  letter-spacing: 0.2em;
}
.work__content-tools {
  grid-row: 2;
}
.work__content-period {
  grid-row: 3;
}
.work__content-concepts {
  grid-row: 4;
}
.work__content-points {
  grid-row: 1;
}
.work__content-info {
  grid-row: 2;
}
.work__content-gallery {
  grid-row: 3;
}
@media (min-width: 481px) and (max-width: 960px) {
  .work__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .work__content-right {
    grid-column: 1;
    grid-row: 2;
  }
}
@media (max-width: 480px) {
  .work {
    grid-column: 3;
    padding-top: 80px;
  }
  .work__title {
    grid-column: 1;
    grid-row: 1;
  }
  .work__tags {
    grid-column: 1;
    grid-row: 2;
  }
  .work__tags ul {
    gap: 0.5rem 0.5rem;
  }
  .work__img {
    grid-column: 1;
    grid-row: 3;
  }
  .work__img img {
    width: 100%;
    height: auto;
  }
  .work__content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .work__content-right {
    grid-column: 1;
    grid-row: 2;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 0.5rem;
}
.content-title, .content-subtitle, .content-text {
  color: var(--color-text);
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-praimary);
}
.content-title {
  font-weight: 500;
  font-size: clamp(0.85rem, 5vw, 1.2em);
  letter-spacing: 0.1em;
  line-height: 1.6;
}
.content-subtitle, .content-text {
  font-size: 0.875rem;
  line-height: 1.8;
  letter-spacing: 0.1em;
}
.content-subtitle {
  font-weight: 500;
}
.content-text {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 0.2rem;
}
.content-text > ul {
  padding-left: 1rem;
  height: auto;
}
.content-text > ul > li {
  color: var(--color-text);
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-praimary);
  font-size: 0.875rem;
  line-height: 1.8;
  letter-spacing: 0.1em;
  list-style: disc;
}

.newarchive-works {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  margin-top: clamp(80px, 20vw, 160px);
  padding-bottom: 10vh;
}
.newarchive-works__title {
  grid-row: 1;
}
@media (max-width: 480px) {
  .newarchive-works {
    grid-column: 3;
    padding-bottom: 1vh;
  }
}

/* ------- works and tag card ------- */
.newworks__archive {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-self: center;
  gap: 2%;
}
.newworks__archive li {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
}
.newworks__archive-card {
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
}
.newworks__archive-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 481px) and (max-width: 960px) {
  .newworks__archive {
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 480px) {
  .newworks__archive {
    grid-column: 1/4;
    grid-template-columns: 1fr;
    gap: 0.5%;
  }
}

.taxonomy-works {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  margin-top: clamp(80px, 20vw, 160px);
  padding-bottom: 10vh;
}
.taxonomy-works__title {
  grid-row: 1;
}
@media (max-width: 480px) {
  .taxonomy-works {
    grid-column: 3;
    padding-bottom: 1vh;
  }
}
.taxonomy-works__title {
  text-transform: none;
}

.post__pagination {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
  height: clamp(2rem, 10vw, 5rem);
}
@media (max-width: 480px) {
  .post__pagination {
    grid-column: 2/4;
  }
}
.post__pagination__prev {
  grid-column: 1;
  grid-row: 1;
}
.post__pagination__prev-text {
  position: relative;
  padding-left: clamp(0.1rem, 1vw, 1rem);
}
.post__pagination__prev-text:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-top: clamp(3px, 1vw, 6px) solid transparent;
  border-bottom: clamp(3px, 1vw, 6px) solid transparent;
  border-right: clamp(5px, 2vw, 10px) solid var(--color-text);
  left: clamp(-7.5px, -2vw, -15px);
  top: 50%;
  transform: translateY(-50%);
}
.post__pagination__next {
  grid-column: 2;
  grid-row: 1;
  justify-self: flex-end;
}
.post__pagination__next-text {
  position: relative;
  padding-right: clamp(0.1rem, 1vw, 1rem);
}
.post__pagination__next-text:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-top: clamp(3px, 1vw, 6px) solid transparent;
  border-bottom: clamp(3px, 1vw, 6px) solid transparent;
  border-left: clamp(5px, 2vw, 10px) solid var(--color-text);
  right: clamp(-7.5px, -2vw, -15px);
  top: 55%;
  transform: translateY(-50%);
}

.pagenation-text {
  color: var(--color-text);
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-praimary);
  font-size: clamp(0.6rem, 2vw, 0.8rem);
  letter-spacing: clamp(0.02em, 2vw, 0.1em);
  height: clamp(2rem, 5vw, 3rem);
}

.privacy-policy {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  margin-top: clamp(80px, 20vw, 160px);
  grid-template-columns: minmax(0, auto) minmax(auto, 1080px) minmax(0, auto);
}
@media (max-width: 480px) {
  .privacy-policy {
    grid-column: 3;
  }
}
.privacy-policy__title {
  grid-column: 2;
  grid-row: 1;
}
.privacy-policy__container {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: auto;
  row-gap: 2rem;
}
.privacy-policy__introduction {
  color: var(--color-text);
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-praimary);
  font-size: 0.875rem;
  letter-spacing: 0.014em;
}
.privacy-policy__section {
  display: grid;
  grid-template-columns: auto;
  row-gap: 0.4rem;
}
.privacy-policy__heading {
  color: var(--color-text);
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-praimary);
  font-size: 1rem;
}
.privacy-policy__text {
  color: var(--color-text);
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-praimary);
  font-size: 0.875rem;
  line-height: 1.7;
  letter-spacing: 0.014em;
}
.privacy-policy__list {
  list-style: inside;
  color: var(--color-text);
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-praimary);
  font-size: 0.875rem;
  line-height: 1.7;
  letter-spacing: 0.014em;
}
.privacy-policy__button {
  grid-column: 2;
  grid-row: 3;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 200px;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.3) inset, -1px -1px 2px 0px rgba(230, 230, 230, 0.5) inset, -1px 1px 2px 0px rgba(230, 230, 230, 0.2), 1px -1px 2px 0px rgba(230, 230, 230, 0.2), -1px -1px 2px 0px rgba(255, 255, 255, 0.9), 1px 1px 3px 0px rgba(230, 230, 230, 0.9);
  background: var(--color-text);
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-title-en);
  color: var(--color-white);
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
@media (max-width: 480px) {
  .privacy-policy__button {
    justify-self: start;
  }
}

.form_block {
  display: grid;
  grid-template-columns: 1fr;
  height: 5em;
}

.form-required {
  color: var(--color-text);
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-praimary);
  font-size: 0.5rem;
  margin-left: 1em;
  color: #fff;
  background-color: #f67a7a;
  padding: 0.2em 0.5em;
  border-radius: 3px;
}

.form_field {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5em 1em;
  align-self: start;
}

.--textfield {
  height: 20em;
  resize: none;
}

.form-btn {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 200px;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.3) inset, -1px -1px 2px 0px rgba(230, 230, 230, 0.5) inset, -1px 1px 2px 0px rgba(230, 230, 230, 0.2), 1px -1px 2px 0px rgba(230, 230, 230, 0.2), -1px -1px 2px 0px rgba(255, 255, 255, 0.9), 1px 1px 3px 0px rgba(230, 230, 230, 0.9);
  background: var(--color-text);
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-title-en);
  color: var(--color-white);
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
@media (max-width: 480px) {
  .form-btn {
    justify-self: start;
  }
}

.contact {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  margin-top: clamp(80px, 20vw, 160px);
  grid-template-columns: minmax(0, auto) minmax(auto, 1080px) minmax(0, auto);
}
@media (max-width: 480px) {
  .contact {
    grid-column: 3;
  }
}
.contact__container {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}
@media (max-width: 959px) {
  .contact__container {
    grid-column: 1/-1;
  }
}
.contact__form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.contact label {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 0.5rem;
  color: var(--color-text);
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-praimary);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.13em;
}
.contact__contact {
  text-transform: uppercase;
}
.contact__privacy {
  color: var(--color-text);
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-praimary);
}
.contact__privacy > p {
  font-size: 13px;
  line-height: 1.5;
}
.contact__privacy > p a {
  font-weight: 600;
  color: var(--color-text-soft);
}
.contact__privacy > p > span {
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
}

.wpcf7-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.wpcf7-form > p {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 0.5rem;
}

.thanks-message {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  margin-top: clamp(80px, 20vw, 160px);
  grid-template-columns: minmax(0, auto) minmax(auto, 1080px) minmax(0, auto);
  margin-bottom: 80vh;
}
@media (max-width: 480px) {
  .thanks-message {
    grid-column: 3;
  }
}
.thanks-message__container {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 4rem;
}
.thanks-message__title {
  font-style: normal;
  font-weight: 500;
  font-family: var(--font-title-jp);
  font-size: 1.5rem;
}
.thanks-message__text {
  color: var(--color-text);
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-praimary);
  font-size: 0.875rem;
  letter-spacing: 0.014em;
}

.reserve {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  margin-top: clamp(80px, 20vw, 160px);
  margin-bottom: 80vh;
}
@media (max-width: 480px) {
  .reserve {
    grid-column: 3;
  }
}
.reserve__title {
  grid-row: 1;
}
.reserve__calendar {
  grid-row: 2;
  width: 100%;
  height: 80vh;
  border: none;
}

.notfound {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  margin-top: clamp(80px, 20vw, 160px);
}
@media (max-width: 480px) {
  .notfound {
    grid-column: 3;
  }
}
.notfound__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}
.notfound__title {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.notfound__body {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.notfound__body > p {
  color: var(--color-text);
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-praimary);
}
.notfound__msg > p {
  color: var(--color-text);
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-praimary);
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.1em;
}
.notfound__btn {
  min-height: 40vh;
}/*# sourceMappingURL=app.css.map */