@charset "UTF-8";
[lang=en] {
  font-family: var(--font-title-en);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
}

[lang=ja] {
  font-family: var(--font-title-jp);
  font-weight: 500;
  font-style: normal;
  color: var(--color-text);
}

/* ------- name animetionb ------- */
@-webkit-keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 1128.8891601563px;
    stroke-dasharray: 1128.8891601563px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1128.8891601563px;
  }
}
@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 1128.8891601563px;
    stroke-dasharray: 1128.8891601563px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1128.8891601563px;
  }
}
.mv__name-1 {
  -webkit-animation: animate-svg-stroke-1 5s ease 0s both;
  animation: animate-svg-stroke-1 5s ease 0s both;
}

@-webkit-keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 465.8515014648px;
    stroke-dasharray: 465.8515014648px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 465.8515014648px;
  }
}
@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 465.8515014648px;
    stroke-dasharray: 465.8515014648px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 465.8515014648px;
  }
}
.mv__name-2 {
  -webkit-animation: animate-svg-stroke-2 5s ease 0s both;
  animation: animate-svg-stroke-2 5s ease 0s both;
}

@-webkit-keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 406.967956543px;
    stroke-dasharray: 406.967956543px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 406.967956543px;
  }
}
@keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 406.967956543px;
    stroke-dasharray: 406.967956543px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 406.967956543px;
  }
}
.mv__name-3 {
  -webkit-animation: animate-svg-stroke-3 5s ease 0s both;
  animation: animate-svg-stroke-3 5s ease 0s both;
}

@-webkit-keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 465.8518981934px;
    stroke-dasharray: 465.8518981934px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 465.8518981934px;
  }
}
@keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 465.8518981934px;
    stroke-dasharray: 465.8518981934px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 465.8518981934px;
  }
}
.mv__name-4 {
  -webkit-animation: animate-svg-stroke-4 5s ease 0s both;
  animation: animate-svg-stroke-4 5s ease 0s both;
}

@-webkit-keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 693.8052978516px;
    stroke-dasharray: 693.8052978516px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 693.8052978516px;
  }
}
@keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 693.8052978516px;
    stroke-dasharray: 693.8052978516px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 693.8052978516px;
  }
}
.mv__name-5 {
  -webkit-animation: animate-svg-stroke-5 5s ease 0s both;
  animation: animate-svg-stroke-5 5s ease 0s both;
}

@-webkit-keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 465.8508911133px;
    stroke-dasharray: 465.8508911133px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 465.8508911133px;
  }
}
@keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 465.8508911133px;
    stroke-dasharray: 465.8508911133px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 465.8508911133px;
  }
}
.mv__name-6 {
  -webkit-animation: animate-svg-stroke-6 5s ease 0s both;
  animation: animate-svg-stroke-6 5s ease 0s both;
}

@-webkit-keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 664.3232421875px;
    stroke-dasharray: 664.3232421875px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 664.3232421875px;
  }
}
@keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 664.3232421875px;
    stroke-dasharray: 664.3232421875px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 664.3232421875px;
  }
}
.mv__name-7 {
  -webkit-animation: animate-svg-stroke-7 5s ease 0s both;
  animation: animate-svg-stroke-7 5s ease 0s both;
}

@-webkit-keyframes animate-svg-stroke-8 {
  0% {
    stroke-dashoffset: 648.8483276367px;
    stroke-dasharray: 648.8483276367px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 648.8483276367px;
  }
}
@keyframes animate-svg-stroke-8 {
  0% {
    stroke-dashoffset: 648.8483276367px;
    stroke-dasharray: 648.8483276367px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 648.8483276367px;
  }
}
.mv__name-8 {
  -webkit-animation: animate-svg-stroke-8 5s ease 0s both;
  animation: animate-svg-stroke-8 5s ease 0s both;
}

@-webkit-keyframes animate-svg-stroke-9 {
  0% {
    stroke-dashoffset: 358.9885253906px;
    stroke-dasharray: 358.9885253906px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 358.9885253906px;
  }
}
@keyframes animate-svg-stroke-9 {
  0% {
    stroke-dashoffset: 358.9885253906px;
    stroke-dasharray: 358.9885253906px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 358.9885253906px;
  }
}
.mv__name-9 {
  -webkit-animation: animate-svg-stroke-9 5s ease 0s both;
  animation: animate-svg-stroke-9 5s ease 0s both;
}

@-webkit-keyframes animate-svg-stroke-10 {
  0% {
    stroke-dashoffset: 693.8112792969px;
    stroke-dasharray: 693.8112792969px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 693.8112792969px;
  }
}
@keyframes animate-svg-stroke-10 {
  0% {
    stroke-dashoffset: 693.8112792969px;
    stroke-dasharray: 693.8112792969px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 693.8112792969px;
  }
}
.mv__name-10 {
  -webkit-animation: animate-svg-stroke-10 5s ease 0s both;
  animation: animate-svg-stroke-10 5s ease 0s both;
}

@-webkit-keyframes animate-svg-stroke-11 {
  0% {
    stroke-dashoffset: 465.8501586914px;
    stroke-dasharray: 465.8501586914px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 465.8501586914px;
  }
}
@keyframes animate-svg-stroke-11 {
  0% {
    stroke-dashoffset: 465.8501586914px;
    stroke-dasharray: 465.8501586914px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 465.8501586914px;
  }
}
.mv__name-11 {
  -webkit-animation: animate-svg-stroke-11 5s ease 0s both;
  animation: animate-svg-stroke-11 5s ease 0s both;
}

.mv {
  grid-column: 2;
  margin-top: 120px;
  height: 90vh;
  display: grid;
  place-items: center;
  /*
    &__anime {
      --pathlength: 1384;
      fill: transparent;
      stroke: var(--color-text);
      stroke-linecap: round;
      stroke-width: 1.8px;
      stroke-dashoffset: var(--pathlength);
      stroke-dasharray: 0 var(--pathlength);
      animation: loader 5.5s ease-out both;
    }

    @keyframes loader {
      0% {
        stroke-dashoffset: var(--pathlength);
      }
      100% {
        stroke-dasharray: var(--pathlength) 0;
      }
    }

    &__name {
      width: 90%;
      height: auto;
      display: block;
    }
  */
}
.mv__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-end;
}
.mv__msg {
  font-family: var(--font-title-en);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  text-align: right;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0.07em;
}
.mv__msg span {
  display: inline-block;
}
.mv__name {
  width: 90%;
  height: auto;
  display: block;
}
.mv__name-1, .mv__name-2, .mv__name-3, .mv__name-4, .mv__name-5, .mv__name-6, .mv__name-7, .mv__name-8, .mv__name-9, .mv__name-10, .mv__name-11 {
  fill: none;
  stroke: var(--color-text);
  stroke-width: 2px;
}
.mv__sitename {
  font-family: var(--font-title-en);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  text-align: right;
  font-size: 3rem;
  line-height: normal;
  letter-spacing: 0.11em;
}
@media (min-width: 481px) and (max-width: 960px) {
  .mv__inner {
    gap: 0.8rem;
  }
  .mv__msg {
    font-size: 1rem;
  }
  .mv__anime {
    stroke-width: 3px;
  }
  .mv__name {
    width: 100%;
  }
  .mv__sitename {
    font-size: 2rem;
  }
}
@media (max-width: 480px) {
  .mv {
    grid-column: 2/4;
    margin-top: 40px;
  }
  .mv__inner {
    gap: 0.8rem;
  }
  .mv__msg {
    font-size: 0.8rem;
    line-height: 1.5;
  }
  .mv__anime {
    stroke-width: 3px;
  }
  .mv__name {
    width: 100%;
  }
  .mv__sitename {
    font-size: 1.7rem;
  }
}

.vertical-title__container {
  grid-column: 1;
  grid-row: 2;
  align-self: start;
  position: -webkit-sticky;
  position: sticky;
  top: 56vh;
}
@media (max-width: 480px) {
  .vertical-title__container {
    top: 50svh;
  }
}
.vertical-title__text {
  display: inline flow-root;
  font-family: var(--font-title-en);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  font-size: 12px;
  line-height: 1.75em;
  letter-spacing: 0.16em;
  transform: rotate(90deg);
  transform-origin: left top;
  position: relative;
  left: 2rem;
  white-space: nowrap;
  transition: top 0.3s;
}

.main-content {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30vh;
}
@media (max-width: 480px) {
  .main-content {
    grid-column: 3/4;
  }
}

/* ------- works ------- */
.works {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 24px;
}
.works__title {
  grid-row: 1;
}
.works__slider {
  grid-row: 2;
  width: 100%;
}
.works__all {
  grid-row: 3;
  justify-self: flex-end;
}

.swiper {
  width: 100%;
  height: 400px;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide__img img {
  max-width: 100%;
  height: auto;
}

/* ------- /. works ------- */
/* ------- about ------- */
.about {
  display: grid;
  grid-template-columns: auto auto 2fr;
  grid-template-rows: repeat(1, auto);
  column-gap: 1.5rem;
}
.about__title {
  grid-column: 3;
  justify-self: end;
}
.about__photo {
  grid-column: 2;
  grid-row: 1/3;
}
.about__photo img {
  width: 100%;
  max-width: 400px;
}
.about__name {
  grid-column: 1;
  grid-row: 2;
  align-self: end;
}
.about__name h2 {
  font-family: var(--font-title-jp);
  font-weight: 500;
  font-style: normal;
  color: var(--color-text);
  font-size: 28px;
  line-height: normal;
  letter-spacing: 0.214em;
  text-wrap: nowrap;
}
.about__text {
  grid-column: 3;
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 2rem;
}
.about__text h3 {
  grid-row: 1;
  font-family: var(--font-title-jp);
  font-weight: 500;
  font-style: normal;
  color: var(--color-text);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.075em;
}
.about__text p {
  grid-row: 2;
  font-family: var(--font-praimary);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  font-size: 0.875rem;
  font-weight: 350;
  line-height: 1.71;
  letter-spacing: 0.0357em;
}
.about__all {
  grid-row: 3;
  justify-self: flex-end;
}
@media (min-width: 481px) and (max-width: 960px) {
  .about {
    grid-template-columns: auto auto;
    gap: 1rem;
    width: 100%;
  }
  .about__title {
    grid-column: 1;
    justify-self: start;
  }
  .about__photo {
    grid-column: 2;
    grid-row: span 2;
  }
  .about__photo img {
    max-width: 600px;
  }
  .about__name {
    grid-column: 1;
    grid-row: 2;
  }
  .about__text {
    grid-column: 1/-1;
    grid-row: 3;
  }
}
@media (max-width: 480px) {
  .about {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    width: 100%;
  }
  .about__title {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
  }
  .about__photo {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
  }
  .about__name {
    grid-column: 1;
    grid-row: 3;
  }
  .about__name h2 {
    font-family: var(--font-title-jp);
    font-weight: 500;
    font-style: normal;
    color: var(--color-text);
    font-size: 20px;
    line-height: normal;
    letter-spacing: 0.15em;
  }
  .about__name p {
    text-wrap: wrap;
  }
  .about__text {
    grid-column: 1;
    grid-row: 5;
    display: grid;
    grid-template-rows: auto;
    gap: 1rem;
  }
  .about__text h3 {
    font-family: var(--font-praimary);
    font-weight: 400;
    font-style: normal;
    color: var(--color-text);
    grid-column: 1;
    grid-row: 1;
    font-size: 0.93rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.073em;
  }
  .about__text p {
    font-family: var(--font-praimary);
    font-weight: 400;
    font-style: normal;
    color: var(--color-text);
    grid-column: 1;
    grid-row: 2;
    font-size: 0.75rem;
    font-weight: 350;
    line-height: 2;
    letter-spacing: 0.041em;
  }
  .about__all {
    grid-column: 1;
    grid-row: 3;
    justify-self: flex-end;
  }
}

/* ------- /.about ------- */
/*
button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

button {
  --primary-color: #111;
  --hovered-color: #c84747;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
}

button p {
  margin: 0;
  position: relative;
  font-size: 20px;
  color: var(--primary-color);
}

button::after {
  position: absolute;
  content: '';
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

button p::before {
  position: absolute;
  //box-sizing: border-box; 
  content: 'Subscribe';
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

button:hover::after {
  width: 100%;
}

button:hover p::before {
  width: 100%;
}

button:hover svg {
  transform: translateX(4px);
  color: var(--hovered-color);
}

button svg {
  color: var(--primary-color);
  transition: 0.2s;
  position: relative;
  width: 15px;
  transition-delay: 0.2s;
}
*/
:root {
  /* ------- Fonts ------- */
  --font-praimary: "Noto Sans JP", sans-serif;
  --font-title-jp: "Noto Serif JP", serif;
  --font-title-en: "Libre Baskerville", serif;
  /* ------- Color ------- */
  --color-background: #f5f5f5;
  --header-gradation: linear-gradient(180deg, #f5f5f5 26.67%, rgba(245, 245, 245, 0.44) 71.11%, rgba(245, 245, 245, 0) 100%);
  --color-white: #fffeff;
  --color-gray: #989898;
  --color-text: #363636;
  --color-text-soft: #666666;
  --color-hover: #c36c74;
  /* ------- Other ------- */
  --easeing: cubic-bezier(0.69, 0.02, 0.18, 1);
  --hover: 0.6s ease;
  --hover-duration: 0.6s;
  --hover-timing-function: ease;
  --container-width: 1080px;
}

/* ------- reset ------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ------- 共通 ------- */
img {
  display: block;
  max-width: 100%;
}

body {
  font-family: var(--font-primary);
  background: var(--color-background);
}

html {
  font-size: 16px;
}

main {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
a {
  color: var(--color-text);
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

video {
  outline: none;
  border: none;
}

/* ------- layout ------- */
main {
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(auto, 1280px) minmax(2rem, 1fr);
}
@media (min-width: 961px) and (max-width: 1280px) {
  main {
    grid-template-columns: minmax(2rem, 1fr) minmax(auto, 1080px) minmax(2rem, 1fr);
  }
}
@media (min-width: 481px) and (max-width: 960px) {
  main {
    grid-template-columns: minmax(2rem, 1fr) minmax(auto, 680px) minmax(2rem, 1fr);
  }
}
@media (max-width: 480px) {
  main {
    grid-template-columns: 1.5rem 20px auto 1.5rem;
  }
}

.section-header {
  font-family: var(--font-title-en);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  font-size: 40px;
  line-height: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
@media (max-width: 480px) {
  .section-header {
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0.1em;
  }
}

.section-subheader {
  font-family: var(--font-title-en);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  font-size: 24px;
  line-height: 24px; /* 100% */
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
@media (max-width: 480px) {
  .section-subheader {
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0.1em;
  }
}
.section-subheader::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: auto;
  height: 1px;
  background: var(--color-text);
  z-index: -1;
  transition: all 0.8s;
}

.viewall a {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.viewall a p {
  grid-column: 1;
  font-family: var(--font-title-en);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.animate-slide {
  animation: animate-slide 2s cubic-bezier(0.42, 0, 0.27, 0.99) 0s 1;
}

@keyframes animate-slide {
  0%, 100% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  50% {
    transform: translateX(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}
/* ------- arrow ------- */
.arrow {
  grid-column: 2;
  grid-row: 1;
  transform: rotate(-90deg);
  cursor: pointer;
}

.arrow span {
  display: block;
  width: 8px;
  height: 8px;
  border-bottom: 1px solid var(--color-text);
  border-right: 1px solid var(--color-text);
  transform: rotate(45deg);
  margin: -4px;
  animation: animate-arrow 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate-arrow {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
/*  ------- svg ------- */
#icon-instagram {
  width: 20px;
  height: 20px;
}

.cls-1 {
  fill: none;
  stroke: var(--color-text);
  stroke-miterlimit: 10;
  stroke-width: 1.2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.site-header__sns a:hover .cls-1 {
  stroke: var(--color-hover);
}

/* ------- /.svg ------- */
/* ------- header ------- */
.site-header {
  width: 100%;
  height: 140px;
  background: var(--header-gradation);
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1280px) minmax(1.5rem, 1fr);
  justify-content: center;
  align-items: center;
}
.site-header__container {
  grid-column: 2;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.site-header__logo a {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 16px;
  align-items: center;
  text-decoration: none;
}
.site-header__logo a img {
  width: 24px;
  height: 24px;
  grid-row: span 2;
}
.site-header__position, .site-header__name {
  font-family: var(--font-title-en);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  font-size: 10px;
  line-height: 1rem;
  letter-spacing: 0.1em;
  justify-self: start;
}
.site-header__gnav {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 4rem;
}
.site-header__gnav ul {
  list-style: none;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 4rem;
  align-items: center;
  justify-self: flex-end;
}
.site-header__gnav ul li a {
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.15em;
  font-family: var(--font-title-en);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  text-transform: uppercase;
  transition: var(--hover);
}
.site-header__sns {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  gap: 4rem;
  justify-self: flex-end;
}
.site-header__sns a {
  display: inline flex;
}
@media (min-width: 961px) and (max-width: 1280px) {
  .site-header {
    display: grid;
    grid-template-columns: minmax(1.5rem, 1fr) minmax(auto, 1080px) minmax(1.5rem, 1fr);
  }
}

/* ------- hamburger menu ------- */
.site-nav-toggle {
  display: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  z-index: 10;
  justify-content: center;
  align-items: center;
}
.site-nav-toggle::before, .site-nav-toggle::after,
.site-nav-toggle span {
  content: "";
  height: 1px;
  width: 30px;
  background-color: var(--color-text);
  position: absolute;
  transition: 0.4s var(--easeing);
}
.site-nav-toggle span {
  transform-origin: left center;
}
.site-nav-toggle::before {
  top: calc(50% - 8px);
}
.site-nav-toggle::after {
  top: calc(50% + 8px);
}

.site-nav-checkbox {
  display: none;
}

@media (max-width: 959px) {
  .site-nav-toggle {
    display: flex;
  }
  .site-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }
  .site-nav-checkbox:checked ~ .site-nav {
    transform: translateX(0);
  }
  .site-header__nav-container {
    display: flex;
    align-items: center;
    padding: 2.5rem;
  }
  .site-header__gnav {
    grid-template-columns: 1fr;
    gap: 3.5rem;
    align-items: center;
  }
  .site-header__gnav ul {
    grid-template-columns: 1fr;
    gap: 3.5rem;
    justify-self: flex-start;
  }
  .site-header__gnav ul li a {
    color: var(--color-white);
  }
  .site-header__sns {
    gap: 3.5rem;
    justify-self: flex-start;
  }
  .site-nav-checkbox:checked ~ .site-nav-toggle span {
    transform: scaleX(0);
  }
  .site-nav-checkbox:checked ~ .site-nav-toggle::before {
    top: 50%;
    transform: rotate(30deg);
    background-color: var(--color-white);
  }
  .site-nav-checkbox:checked ~ .site-nav-toggle::after {
    top: 50%;
    transform: rotate(-30deg);
    background-color: var(--color-white);
  }
  .cls-1 {
    stroke: var(--color-white);
  }
}
@media (max-width: 480px) {
  .site-header {
    height: 80px;
  }
  .site-nav {
    width: 50%;
    height: 100vh;
  }
}
/* ------- /.hamburger menu ------- */
/* ------- footer ------- */
.site-footer__inner {
  display: block flex;
  width: 100%;
  padding: 24px 0px;
  justify-content: center;
  align-items: center;
  background: var(--color-text);
  margin-top: 128px;
}
.site-footer__inner small {
  font-family: var(--font-title-en);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  color: var(--color-white);
  font-size: 0.875rem;
  line-height: normal;
}

/* ------- vertical-txt ------- */
.vertical-category {
  position: sticky;
  grid-column: 1;
  align-self: start;
  top: 120px;
}
.vertical-category__inner {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  justify-items: center;
}
.vertical-category__vertical, .vertical-category__horizontal {
  white-space: nowrap;
  width: 20px;
}
.vertical-category__vertical {
  font-family: var(--font-title-jp);
  font-weight: 500;
  font-style: normal;
  color: var(--color-text);
  font-size: 0.875rem;
  letter-spacing: 0.5em;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.vertical-category__horizontal {
  font-family: var(--font-title-en);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  writing-mode: horizontal-tb;
  transform: rotate(90deg) translateX(50%);
  white-space: nowrap;
}
.vertical-category__cross {
  position: relative;
}
.vertical-category__cross:before, .vertical-category__cross:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.5px;
  height: 14px;
  background-color: var(--color-text);
  transform: translate(-50%, -50%);
}
.vertical-category__cross::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.vertical-category__cross::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
@media (max-width: 480px) {
  .vertical-category {
    grid-column: 1;
    top: 80px;
    margin-left: 1rem;
  }
}

/* ------- /.vertical-text ------- */
/* ------- tag ------- */
.works__seach-tag {
  transition: all 0.3s ease;
}
.works__seach-tag::before {
  content: "#";
  margin-right: 0.2em;
  transition: all 0.3s ease;
}
.works__seach-tag:hover {
  color: var(--color-hover);
}
.works__seach-tag:hover::before {
  color: var(--color-hover);
  transform: scale(1.2);
}

/* ------- swiper ------- */
.swiper-pagination-bullet {
  background-color: var(--color-text-soft);
}

.xo-slider .swiper-slide > img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

/* ------- br ------- */
.mobile-only-br {
  display: none;
}

@media (max-width: 480px) {
  .mobile-only-br {
    display: inline;
  }
}
/* ------- pagenation ------- */
.pagination {
  text-align: center;
}

.nav-links .page-numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-links a.page-numbers,
.nav-links .current,
.nav-links a.prev,
.nav-links a.next,
.nav-links .dots {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: var(--color-background);
  color: var(--color-text);
  border-radius: 50%;
  margin-right: 25px;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid var(--color-text);
}

.nav-links a.page-numbers:hover {
  color: var(--color-white);
  background-color: var(--color-hover);
  border-color: var(--color-hover);
  border-radius: 50%;
}

.nav-links .current {
  background: var(--color-text);
  color: var(--color-white);
  padding: 0;
}

.nav-links a.prev,
.nav-links a.next {
  border: 1px solid var(--color-text);
  color: var(--color-text);
  position: relative;
}

.nav-links .next::before,
.nav-links .prev::after {
  content: "";
  display: inline-block;
  width: 0.5px;
  height: 40px;
  background-color: rgb(224, 215, 215);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.nav-links .next::before {
  left: -15px;
}

.nav-links .prev::after {
  right: -15px;
}

.nav-links .dots {
  background: transparent;
  border: none;
}

@media (max-width: 600px) {
  .page-numbers,
  .page-numbers.current {
    padding: 5px 10px;
  }
}
/* ------- card ------- */
.card {
  width: minmax(200px 100%);
  height: minmax(200px 100%);
  background-image: url(assets/img/thumnail-bg.png);
  display: block grid;
  place-items: center;
}
.card__thumbnail {
  width: 300px;
  height: 200px;
  background: lightgray 0px 0.144px/100% 103.783% no-repeat;
  /* thumnail */
  box-shadow: 4px 4px 16.5px 2px rgba(0, 0, 0, 0.1);
}

.archive-container {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 196px;
}
@media (max-width: 480px) {
  .archive-container {
    grid-column: 3;
  }
}

.archive-works {
  grid-column: 2;
  grid-row: auto;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  padding-bottom: 10vh;
  margin-top: 140px;
}
.archive-works__title {
  grid-row: 1;
}
.archive-works__search {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 1rem;
}
.archive-works__search > span {
  grid-row: 1;
  align-self: end;
  font-family: var(--font-title-en);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  font-size: 14px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}
.archive-works__search > hr {
  grid-row: 2;
  height: 1px;
  width: auto;
  color: var(--color-text-soft);
}
.archive-works__search > ul {
  grid-row: 3;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1.5rem;
}
.archive-works__search > ul > li {
  font-family: var(--font-title-en);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  font-size: 14px;
  letter-spacing: 0.083em;
}
.archive-works__search > ul > li::before {
  content: "#";
}
@media (max-width: 480px) {
  .archive-works {
    grid-column: 3;
    padding-bottom: 10vh;
  }
}

.archive-cards {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-self: center;
  gap: 20px;
}
@media (min-width: 481px) and (max-width: 960px) {
  .archive-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .archive-cards {
    grid-column: 2/4;
    grid-template-columns: 1fr;
  }
}

.page-about {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10rem;
  margin-top: 140px;
}
.page-about__main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  gap: 1.5rem;
}
.page-about__title {
  grid-column: 1;
  grid-row: 1;
}
.page-about__photo {
  grid-column: 2;
  grid-row: span 2;
}
.page-about__name {
  grid-column: 1;
  grid-row: 2;
  align-self: end;
}
.page-about__name h2 {
  font-family: var(--font-title-jp);
  font-weight: 500;
  font-style: normal;
  color: var(--color-text);
  font-size: 28px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.214em;
  margin-bottom: 0.5rem;
}
.page-about__name p {
  font-family: var(--font-praimary);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  font-size: 12px;
  font-style: normal;
  font-weight: 350;
  line-height: 2;
  letter-spacing: 0.14em;
}
.page-about__info {
  display: grid;
  grid-template-columns: 1fr 0.75rem 1fr 0.75rem 1fr;
  gap: 2rem;
}
.page-about__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  row-gap: 0.5rem;
  height: 280px;
}
.page-about__content-label {
  font-family: var(--font-title-en);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  color: var(--color-gray);
  font-size: 12px;
  line-height: normal;
  letter-spacing: 0.06em;
  height: 1rem;
}
.page-about__content-title {
  font-family: var(--font-title-jp);
  font-weight: 500;
  font-style: normal;
  color: var(--color-text);
  color: var(--color-text);
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.06em;
}
.page-about__content-text {
  font-family: var(--font-praimary);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  color: var(----color-s-text);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 191.667% */
  letter-spacing: 0.96px;
  margin-top: 2rem;
}
@media (max-width: 959px) {
  .page-about {
    grid-template-columns: 1fr;
    gap: 10rem;
    margin-top: 80px;
  }
  .page-about__main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 1.5rem;
  }
  .page-about__title {
    grid-column: 1;
    grid-row: 1;
  }
  .page-about__photo {
    grid-column: 1;
    grid-row: 2;
  }
  .page-about__name {
    grid-column: 1;
    grid-row: 3;
    align-self: flex-start;
  }
  .page-about__name h2 {
    font-family: var(--font-title-jp);
    font-weight: 500;
    font-style: normal;
    color: var(--color-text);
    font-size: 28px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.214em;
    margin-bottom: 0.5rem;
  }
  .page-about__name p {
    font-family: var(--font-praimary);
    font-weight: 400;
    font-style: normal;
    color: var(--color-text);
    font-size: 10px;
    font-weight: 300;
    line-height: 1.5;
  }
  .page-about__info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 0.75rem auto 0.75rem auto;
    gap: 2rem;
  }
  .page-about__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    row-gap: 0.5rem;
    height: auto;
  }
  .page-about__content-label {
    font-family: var(--font-title-en);
    font-weight: 400;
    font-style: normal;
    color: var(--color-text);
    color: var(--color-gray);
    font-size: 12px;
    line-height: normal;
    letter-spacing: 0.06em;
    height: 1rem;
  }
  .page-about__content-title {
    font-family: var(--font-title-jp);
    font-weight: 500;
    font-style: normal;
    color: var(--color-text);
    color: var(--color-text);
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.06em;
  }
  .page-about__content-text {
    font-family: var(--font-praimary);
    font-weight: 400;
    font-style: normal;
    color: var(--color-text);
    color: var(----color-s-text);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 191.667% */
    letter-spacing: 0.96px;
    margin-top: 2rem;
  }
}
@media (max-width: 480px) {
  .page-about {
    grid-column: 3;
  }
}

hr {
  width: 1px;
  align-self: stretch;
  color: #c4c4c4;
}
@media (max-width: 959px) {
  hr {
    width: auto;
    height: 0;
  }
}

.skills,
.strengths {
  margin-top: 20rem;
}

.skills {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  gap: 6rem 4rem;
}
.skills ul {
  grid-column: 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.skills__item {
  display: grid;
  grid-template-columns: 130px;
  grid-template-rows: auto auto;
  row-gap: 0.25rem;
}
.skills__icon {
  grid-column: 1;
  width: 120px;
  height: 120px;
  background: var(--color-white);
  box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.3) inset, -1px -1px 2px 0px rgba(230, 230, 230, 0.5) inset, -1px 1px 2px 0px rgba(230, 230, 230, 0.2), 1px -1px 2px 0px rgba(230, 230, 230, 0.2), -1px -1px 2px 0px rgba(255, 255, 255, 0.9), 1px 1px 3px 0px rgba(230, 230, 230, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills__icon img {
  width: 48px;
}
.skills span {
  grid-row: 2;
  font-family: var(--font-title-en);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  font-size: 0.75rem;
  line-height: normal;
  letter-spacing: 0.1em;
}
.skills__img {
  grid-column: 2;
  width: 100%;
  height: auto;
  object-fit: contain;
}
@media (min-width: 481px) and (max-width: 960px) {
  .skills {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 4rem 0;
  }
  .skills__img {
    grid-column: 1;
    grid-row: 3;
    height: auto;
  }
}
@media (max-width: 480px) {
  .skills {
    grid-column: 3;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    row-gap: 20px;
  }
  .skills ul {
    padding-top: 2.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem 3rem;
    justify-self: center;
  }
  .skills__img {
    grid-column: 1;
    height: auto;
  }
}

.strengths {
  grid-column: 2;
  grid-row: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 4rem;
}
.strengths__title {
  grid-column: 2;
}
.strengths__meticulous {
  grid-column: 2;
  grid-row: 2;
  width: 100%;
  background-color: var(--color-background);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  grid-gap: 2rem;
  align-self: start;
}
.strengths__certified {
  grid-column: 3;
  grid-row: 2;
  width: 100%;
  background-color: var(--color-background);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  grid-gap: 2rem;
  align-self: start;
}
.strengths__header {
  grid-column: 1;
  grid-row: 1;
  font-family: var(--font-title-en);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  color: var(--color-gray);
  font-size: 1.125rem;
  line-height: normal;
  letter-spacing: 0.06em;
}
.strengths__desc {
  grid-column: 1;
  grid-row: 2;
  font-family: var(--font-praimary);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  font-size: 0.75rem;
  line-height: 1.92;
  letter-spacing: 0.08em;
  height: auto;
}
.strengths__img {
  grid-column: 1;
  grid-row: 1/3;
  align-self: center;
  justify-self: center;
}
.strengths__img-photo {
  position: relative;
  /* ------- kurukuru ------- */
}
.strengths__img-photo img {
  max-width: 383px;
  width: 100%;
  height: auto;
  border-radius: 90%;
}
.strengths__img-photo:after {
  content: "";
  background-image: url("../../assets/img/frame.png");
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 98% auto;
  background-repeat: no-repeat;
  background-position: center center;
  pointer-events: none;
  animation: 20s rotation linear infinite;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 959px) {
  .strengths {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem 2rem;
  }
  .strengths__title {
    grid-column: 1;
    grid-row: 1;
  }
  .strengths__meticulous {
    grid-column: 1;
    grid-row: 2;
  }
  .strengths__img {
    grid-column: 1;
    grid-row: 3;
  }
  .strengths__certified {
    grid-column: 1;
    grid-row: 4;
  }
}
@media (max-width: 480px) {
  .strengths {
    grid-column: 3;
  }
}

.enFont,
.jpFont,
.defaultFont {
  font-size: 40px;
  line-height: normal;
  letter-spacing: 0.1em;
}

.work {
  grid-column: 2;
  padding-top: 140px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.work__title {
  grid-column: 1;
  grid-row: 1;
}
.work__tags {
  grid-column: 1;
  grid-row: 2;
  font-family: var(--font-title-en);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.17em;
}
.work__img {
  grid-column: 1;
  grid-row: 3;
}
.work__img img {
  width: 100%;
  height: auto;
}
.work__content {
  grid-column: 1;
  grid-row: 4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.work__content-tools {
  grid-column: 1;
  grid-row: 1;
}
.work__content-period {
  grid-column: 1;
  grid-row: 2;
}
.work__content-concepts {
  grid-column: 1;
  grid-row: 3;
}
.work__content-points {
  grid-column: 2;
  grid-row: 1;
}
.work__content-info {
  grid-column: 2;
  grid-row: 2;
}
@media (max-width: 480px) {
  .work {
    grid-column: 3;
  }
  .work__title {
    grid-column: 1;
    grid-row: 1;
  }
  .work__tags {
    grid-column: 1;
    grid-row: 2;
    font-family: var(--font-title-en);
    font-weight: 400;
    font-style: normal;
    color: var(--color-text);
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.17em;
  }
  .work__img {
    grid-column: 1;
    grid-row: 3;
  }
  .work__img img {
    width: 100%;
    height: auto;
  }
  .work__content {
    width: 100%;
    grid-column: 1;
    grid-row: 4;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .work__content-tools {
    grid-row: 1;
  }
  .work__content-period {
    grid-row: 2;
  }
  .work__content-concepts {
    grid-row: 3;
  }
  .work__content-points {
    grid-column: 1;
    grid-row: 4;
  }
  .work__content-info {
    grid-column: 1;
    grid-row: 5;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 0.4rem;
}
.content-title {
  font-family: var(--font-title-en);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
}
.content-text {
  font-family: var(--font-praimary);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
}

.post__pagination {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
}
.post__pagination__left {
  grid-column: 1;
  grid-row: 1;
}
.post__pagination__left-text {
  position: relative;
  padding-left: 20px;
}
.post__pagination__left-text:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 10px solid var(--color-text);
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
}
.post__pagination__right {
  grid-column: 2;
  grid-row: 1;
  justify-self: flex-end;
}
.post__pagination__right-text {
  position: relative;
  padding-right: 20px;
}
.post__pagination__right-text:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 10px solid var(--color-text);
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
}

.contact {
  grid-column: 2;
  margin-top: 140px;
  display: grid;
  grid-template-columns: minmax(0, auto) minmax(auto, 700px) minmax(0, auto);
  row-gap: 2rem;
}
@media (max-width: 480px) {
  .contact {
    grid-column: 3;
  }
}
.contact__container {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}
@media (max-width: 959px) {
  .contact__container {
    grid-column: 1/-1;
  }
}
.contact label {
  font-family: var(--font-praimary);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 2px;
}
.contact__campany-name, .contact__your-name, .contact__your-email, .contact__phone-number, .contact__your-message {
  width: 100%;
}
@media (max-width: 959px) {
  .contact__campany-name, .contact__your-name, .contact__your-email, .contact__phone-number, .contact__your-message {
    width: 100%;
  }
}
.contact__campany-name, .contact__your-name, .contact__your-email, .contact__phone-number {
  height: 2rem;
}
.contact__contact {
  text-transform: uppercase;
}
.contact__privacy {
  font-family: var(--font-praimary);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
}
.contact__privacy > p {
  font-size: 13px;
  line-height: 1.5;
}
.contact__privacy > p a {
  font-weight: 600;
  color: var(--color-text-soft);
}
.contact__privacy > p > span {
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
}
.contact__submit {
  justify-self: center;
  font-family: var(--font-title-en);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  color: var(--color-white);
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.93em;
  text-transform: uppercase;
  display: flex;
  padding: 11px 55px;
  align-items: center;
  gap: 8px;
  width: 200px;
  border-radius: 8px;
  background: var(--color-text);
  box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.3) inset, -1px -1px 2px 0px rgba(230, 230, 230, 0.5) inset, -1px 1px 2px 0px rgba(230, 230, 230, 0.2), 1px -1px 2px 0px rgba(230, 230, 230, 0.2), -1px -1px 2px 0px rgba(255, 255, 255, 0.9), 1px 1px 3px 0px rgba(230, 230, 230, 0.9);
}
@media (max-width: 480px) {
  .contact__submit {
    justify-self: start;
  }
}

.wpcf7-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.wpcf7-form > p {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 0.5rem;
}

.archive-container {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 196px;
}
@media (max-width: 480px) {
  .archive-container {
    grid-column: 3;
  }
}

.taxonomy-works {
  grid-column: 2;
  grid-row: auto;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  padding-bottom: 10vh;
  margin-top: 140px;
}
.taxonomy-works__title {
  grid-row: 1;
  text-transform: none;
}
@media (max-width: 480px) {
  .taxonomy-works {
    grid-column: 3;
    padding-bottom: 10vh;
  }
}

.archive-cards {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-self: center;
  gap: 20px;
}
@media (min-width: 481px) and (max-width: 960px) {
  .archive-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .archive-cards {
    grid-column: 2/4;
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=app.css.map */