@charset "UTF-8";
.mv {
  position: relative;
  margin-top: 120px;
}
.mv__inner {
  display: grid;
  place-items: center;
  height: 85vh;
}
.mv__video {
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
  max-width: var(--container-width);
}
@media screen and (max-width: 768px) {
  .mv {
    margin-top: 80px;
  }
  .mv__inner {
    height: 90vh;
  }
  .mv__video {
    aspect-ratio: 9/16;
  }
}

.vertical-title__container {
  position: -webkit-sticky;
  position: sticky;
  top: 60svh;
}
@media screen and (max-width: 768px) {
  .vertical-title__container {
    top: 40svh;
  }
}
.vertical-title__text {
  display: inline-block;
  font-family: var(--font-title-en);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  font-size: 12px;
  line-height: 1.75em;
  letter-spacing: 0.16em;
  transform: rotate(90deg);
  transform-origin: left top;
  position: relative;
  left: 2rem;
  white-space: nowrap;
  transition: top 0.3s;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 30vh;
}

.works {
  max-width: var(--container-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 0.5fr 0.1fr;
  grid-gap: 1rem 1.5rem;
}
@media (min-width: 768px) and (max-width: 1080px) {
  .works {
    margin-left: 60px;
    margin-right: 60px;
  }
}
.works__title {
  grid-column: 1/3;
  grid-row: 1;
}
.works__slider {
  grid-column: 3;
  grid-row: 1/3;
  aspect-ratio: 3/2;
  height: 400px;
  width: 600px;
  background-color: gray;
}
.works__search {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 0 1fr 1fr 1fr 1fr;
  grid-gap: 0.5rem 1rem;
}
.works__search > span {
  grid-column: 1/-1;
  align-self: end;
  font-family: var(--font-title-en);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  font-size: 14px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}
.works__search > hr {
  grid-column: 1/-1;
  height: 1px;
  color: var(--color-text-soft);
}
.works__search ul {
  grid-column: 1/-1;
  display: contents;
}
.works__search a {
  align-self: center;
  transition: var(--hover);
}
@media (hover: hover) and (pointer: fine) {
  .works__search a:hover {
    color: var(--color-hover);
  }
}
.works__search li {
  font-family: var(--font-title-en);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  font-size: 12px;
  letter-spacing: 0.083em;
}
.works__search li.works__seach-tag::before {
  content: "#";
  margin-right: 0.2em;
}
.works__all {
  grid-column: 3;
  grid-row: 3;
  justify-self: flex-end;
}
@media screen and (max-width: 768px) {
  .works {
    grid-template-columns: auto;
    grid-template-rows: auto;
    width: 100%;
    padding-left: 17.3%;
    padding-right: 24px;
    gap: 1.5rem;
  }
  .works__title {
    grid-column: 1;
  }
  .works__slider {
    grid-column: 1;
    grid-row: 3;
    width: 80vw;
    height: auto;
  }
  .works__search {
    grid-column: 1;
    grid-row: 2;
  }
  .works__all {
    grid-column: 1;
    grid-row: 4;
  }
}

.about {
  max-width: var(--container-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr 2fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 0.5rem 1.5rem;
}
@media (min-width: 768px) and (max-width: 1080px) {
  .about {
    margin-left: 60px;
    margin-right: 60px;
  }
}
.about__title {
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
}
.about__photo {
  grid-column: 2;
  grid-row: 1/3;
}
.about__photo img {
  max-width: 347px;
}
.about__name {
  grid-column: 1;
  grid-row: 2;
  align-self: end;
}
.about__name h2 {
  font-family: var(--font-title-jp);
  font-weight: 500;
  font-style: normal;
  color: var(--color-text);
  font-size: 28px;
  line-height: normal;
  letter-spacing: 0.214em;
  text-wrap: nowrap;
}
.about__name p {
  font-family: var(--font-praimary);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  font-size: 10px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.1em;
  text-wrap: nowrap;
}
.about__desc {
  grid-column: 1/3;
  grid-row: 3;
  font-family: var(--font-praimary);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  font-size: 10px;
  font-weight: 350;
  line-height: 1.4;
  letter-spacing: 0.12em;
}
.about__text {
  grid-column: 3;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  flex: 1 0 0;
  align-self: stretch;
}
.about__text h3 {
  font-family: var(--font-praimary);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.075em;
}
.about__text p {
  font-family: var(--font-praimary);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  font-size: 0.875rem;
  font-weight: 350;
  line-height: 1.71;
  letter-spacing: 0.0357em;
}
.about__all {
  grid-column: 3;
  grid-row: 3;
  justify-self: flex-end;
}
@media screen and (max-width: 768px) {
  .about {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    width: 100%;
    padding-left: 17.3%;
    padding-right: 24px;
  }
  .about__title {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
  }
  .about__photo {
    grid-column: 1;
    grid-row: 2;
  }
  .about__photo img {
    max-width: 300px;
  }
  .about__name {
    grid-column: 1;
    grid-row: 3;
  }
  .about__name h2 {
    font-family: var(--font-title-jp);
    font-weight: 500;
    font-style: normal;
    color: var(--color-text);
    font-size: 20px;
    line-height: normal;
    letter-spacing: 0.15em;
  }
  .about__name p {
    text-wrap: wrap;
  }
  .about__desc {
    grid-column: 1;
    grid-row: 4;
  }
  .about__text {
    grid-column: 1;
    grid-row: 5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    flex: 1 0 0;
    align-self: stretch;
  }
  .about__text h3 {
    font-family: var(--font-praimary);
    font-weight: 400;
    font-style: normal;
    color: var(--color-text);
    font-size: 0.93rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0.073em;
  }
  .about__text p {
    font-family: var(--font-praimary);
    font-weight: 400;
    font-style: normal;
    color: var(--color-text);
    font-size: 0.75rem;
    font-weight: 350;
    line-height: 1.5;
    letter-spacing: 0.041em;
  }
  .about__all {
    grid-column: 1;
    grid-row: 6;
    justify-self: flex-end;
  }
}

:root {
  /* ------- Fonts ------- */
  --font-praimary: "Noto Sans JP", sans-serif;
  --font-title-jp: "Noto Serif JP", serif;
  --font-title-en: "Libre Baskerville", serif;
  /* ------- Color ------- */
  --color-background: #f5f5f5;
  --header-gradation: linear-gradient(180deg, #f5f5f5 26.67%, rgba(245, 245, 245, 0.44) 71.11%, rgba(245, 245, 245, 0) 100%);
  --color-white: #fffeff;
  --color-text: #363636;
  --color-text-soft: #666666;
  --color-hover: #c36c74;
  /* ------- Other ------- */
  --easeing: cubic-bezier(0.69, 0.02, 0.18, 1);
  --hover: 0.6s ease;
  --hover-duration: 0.6s;
  --hover-timing-function: ease;
  --container-width: 1080px;
}

/* ------- reset ------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ------- 共通 ------- */
img {
  display: block;
  max-width: 100%;
}

body {
  font-family: var(--font-primary);
  background: var(--color-background);
}

html {
  font-size: 16px;
}

main {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
a {
  color: var(--color-text);
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

video {
  outline: none;
  border: none;
}

.section-header {
  font-family: var(--font-title-en);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  font-size: 40px;
  line-height: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .section-header {
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0.1em;
  }
}

.viewall {
  font-family: var(--font-title-en);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.07em;
  display: inline-block;
  animation: fuwafuwa 1s linear infinite;
}
.viewall span {
  position: relative;
  left: -14px;
}
.viewall span::before {
  content: "";
  position: absolute;
  width: calc(100% + 14px);
  height: 1px;
  background-color: var(--color-text);
  bottom: -5px;
  left: 0;
}
.viewall span::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: calc(100% + 13px);
  width: 8px;
  height: 8px;
  border-right: 1px solid var(--color-text);
  transform: translateX(-100%) rotate(-54deg);
}

@keyframes fuwafuwa {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(0);
  }
}
#icon-instagram {
  width: 20px;
  height: 20px;
}

.cls-1 {
  fill: none;
  stroke: var(--color-text);
  stroke-miterlimit: 10;
  stroke-width: 1.2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke var(--hover-duration) var(--hover-timing-function);
}

.site-header__sns a:hover .cls-1 {
  stroke: var(--color-hover);
}

/* ------- header ------- */
.site-header {
  width: 100%;
  height: 120px;
  background: var(--header-gradation);
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-header__container {
  width: 100%;
  max-width: var(--container-width);
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-shrink: 0;
}
.site-header__logo a {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 16px;
  align-items: center;
  text-decoration: none;
}
.site-header__logo a img {
  width: 24px;
  height: 24px;
  grid-row: span 2;
}
.site-header__position, .site-header__name {
  display: block;
  font-family: var(--font-title-en);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  font-size: 10px;
  line-height: 1rem;
  letter-spacing: 0.1em;
  justify-self: start;
}
.site-header__gnav {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 4rem;
}
.site-header__gnav ul {
  list-style: none;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 4rem;
  align-items: center;
  justify-self: flex-end;
}
.site-header__gnav ul li a {
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.15em;
  font-family: var(--font-title-en);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  text-transform: uppercase;
  transition: var(--hover);
}
@media (hover: hover) and (pointer: fine) {
  .site-header__gnav ul li a:hover {
    color: var(--color-hover);
  }
}
.site-header__sns {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  gap: 4rem;
  justify-self: flex-end;
}
.site-header__sns a {
  display: inline-flex;
}

/* ハンバーガーメニューのスタイル */
.site-nav-toggle {
  display: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  z-index: 10;
  justify-content: center;
  align-items: center;
}
.site-nav-toggle::before, .site-nav-toggle::after,
.site-nav-toggle span {
  content: "";
  height: 1px;
  width: 30px;
  background-color: var(--color-text);
  position: absolute;
  transition: 0.4s var(--easeing);
}
.site-nav-toggle span {
  transform-origin: left center;
}
.site-nav-toggle::before {
  top: calc(50% - 8px);
}
.site-nav-toggle::after {
  top: calc(50% + 8px);
}

.site-nav-checkbox {
  display: none;
}

/* 1080px以下の画面幅でのスタイル */
@media (max-width: 1080px) {
  .site-header__container {
    padding: 3rem;
    justify-content: space-between;
  }
  .site-nav-toggle {
    display: flex;
  }
  .site-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }
  .site-nav-checkbox:checked ~ .site-nav {
    transform: translateX(0);
  }
  .site-header__nav-container {
    display: flex;
    align-items: center;
    padding: 2.5rem;
  }
  .site-header__gnav {
    grid-template-columns: 1fr;
    gap: 3.5rem;
    align-items: center;
  }
  .site-header__gnav ul {
    grid-template-columns: 1fr;
    gap: 3.5rem;
    justify-self: flex-start;
  }
  .site-header__gnav ul li a {
    color: var(--color-white);
  }
  .site-header__sns {
    gap: 3.5rem;
    justify-self: flex-start;
  }
  .site-nav-checkbox:checked ~ .site-nav-toggle span {
    transform: scaleX(0);
  }
  .site-nav-checkbox:checked ~ .site-nav-toggle::before {
    top: 50%;
    transform: rotate(30deg);
    background-color: var(--color-white);
  }
  .site-nav-checkbox:checked ~ .site-nav-toggle::after {
    top: 50%;
    transform: rotate(-30deg);
    background-color: var(--color-white);
  }
  .cls-1 {
    stroke: var(--color-white);
  }
}
@media screen and (max-width: 768px) {
  .site-header {
    height: 80px;
  }
  .site-nav {
    width: 50%;
    height: 100vh;
  }
  .site-header__container {
    padding: 1.5rem;
  }
}
.site-footer {
  display: flex;
  width: 100%;
  padding: 24px 0px;
  justify-content: center;
  align-items: center;
  background: var(--color-text);
  margin-top: 128px;
}
.site-footer small {
  font-family: var(--font-title-en);
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
  color: var(--color-white);
  font-size: 0.875rem;
  line-height: normal;
}/*# sourceMappingURL=app.css.map */